<br>
<%= form_for(@proyecto) do |f| %>
  <%
    prospecto_au = ""
    prospecto_id = ""
    unless @proyecto.prospecto.blank?
      prospecto_au = @proyecto.prospecto.apellido_nombre
      prospecto_id = @proyecto.prospecto.id
    end
  %>
  <% if @proyecto.errors.any? %>
    <div id="error_explanation">
      <h2><%=raw t('errors.template.header', count: @proyecto.errors.count, model: "progetto") %></h2>
      <ul>
      <% @proyecto.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <div class="col-xs-4">
  <%= hidden_field_tag "prosp", params[:prospecto] %>
    <%= f.label :nombre, id:"color-etiq" %><br>
    <%= f.text_field :nombre, class:"form-control" %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-4">
    <% if params[:prospecto].blank? %>
      <%= f.label :prospecto, id:"color-etiq" %><br>
      <%= autocomplete_field_tag "prospecto_au",prospecto_au , autocomplete_prospecto_apellido_proyectos_path, :update_elements => {:id => "#proyecto_prospecto_id" },:placeholder => "Inserisci prospetto", :size => 75, class: 'form-control' %>
      <%= f.hidden_field(:prospecto_id, value: prospecto_id ) %>
    <% else %>
      <%= f.label :prospecto, id:"color-etiq" %>: <%= f.label Prospecto.find_by(id: params[:prospecto]).apellido_nombre %><br>
      <%= f.hidden_field(:prospecto_id, value: params[:prospecto], class:"form-control" ) %>
    <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-4">
    <% if params[:action] == "new" %>
      <%= f.hidden_field(:usuario_id, value: session[:usuario_id], class:"form-control" ) %>
    <% else %>
      <%= f.label :usuario, id:"color-etiq" %>: <%= f.label Usuario.find_by(id: @proyecto.usuario_id).nombre_completo %><br>
      <%= f.hidden_field :usuario_id, value: @proyecto.usuario_id, class:"form-control" %>
    <% end %>
    </div>
  </div>
  <br>
  <div class="actions">
    <%= f.submit t('.submit'), class: 'btn btn-default btn-md', id: 'btn-defecto' %>
  </div>
<% end %>
