<script>
$("#pryt").addClass("start active");
</script>
<div class="panel-heading">
	<% if params[:prospecto].blank?%>
	<%= link_to content_tag(:span, '', class: 'glyphicon glyphicon-chevron-left'), proyectos_path, class: "lnk_back",title: 'Ritorno' %> &nbsp;&nbsp;
	<% else %>
	<%= link_to content_tag(:span, '', class: 'glyphicon glyphicon-chevron-left'), proyectos_path(prospecto: params[:prospecto]), class: "lnk_back",title: 'Ritorno' %> &nbsp;&nbsp;
	<% end %>
	Modifica Progetto
</div>
<div class="table-responsive">
<%= render 'form' %>
<% if params[:prospecto].blank? %>
<%= link_to 'Mostrare', @proyecto, class: "btn btn-primary", id: "color-blanco" %>
<% else %>
<%= link_to 'Mostrare', proyecto_path(@proyecto,prospecto: params[:prospecto]), class: "btn btn-primary", id: "color-blanco" %>
<% end %>
</div>
