<%
  prospecto_au = ""
  unless params[:prospecto].blank?
    prospecto_au = Prospecto.find_by(id: params[:prospecto]).apellido_nombre
  end
  usuario_au = ""
  unless params[:usuario].blank?
    usuario_au = Usuario.find_by(id: params[:usuario]).nombre_usuario
  end
%>
<script>
$("#pryt").addClass("start active");
</script>
<div class="panel-heading" id="panel-heading-sep">
  Elenco Progetti
  <div class="row">
  <br>
  <%= form_tag("/proyectos", method: "get") do %>
    <div class="col-md-4"><%=autocomplete_field_tag "prospecto_au", prospecto_au, autocomplete_prospecto_apellido_proyectos_path, :update_elements => {:id => '#prospecto' }, :placeholder => "Inserisci prospetto", :size => 75, class: 'form-control' %></div>
    <%= hidden_field_tag "prospecto",params[:prospecto] %>
    <div class="col-md-4"><%=autocomplete_field_tag "usuario_au", usuario_au, autocomplete_usuario_proyectos_path, :update_elements => {:id => '#usuario' }, :placeholder => "Inserisci utente", :size => 75, class: 'form-control' %></div>
    <%= hidden_field_tag "usuario",params[:usuario] %>
    <div class="col-md-4"><%= submit_tag "Ricerca", class: "btn btn-success btn-md" %>
    <% if !params[:prospecto].blank? or !params[:usuario].blank? %>&nbsp<%= submit_tag "X", class: "btn btn-danger btn-md" %><% end %></div>
  <% end %>
  </div>
</div>

<% if @proyectos.count.zero? %>
  <div class="panel-heading" id="panel-heading-sep">
    <center><label id="color-etiq">Nessun Progetto da visualizzare</label></center>
  </div>
  <br>
    <div class="row">

        <% if params[:permiso_new] %>
          <% if params[:prospecto].blank? %>
            <div class="col-md-2"><%= link_to 'Nuovo Progetto', new_proyecto_path, class: 'btn btn-primary btn-sm', id: 'color-blanco' %></div>
          <% else %>
            <div class="col-md-2"><%= link_to 'Nuovo Progetto', new_proyecto_path(prospecto: params[:prospecto]), class: 'btn btn-primary btn-sm', id: 'color-blanco' %></div>
          <% end %>
      <% end %>
      <div class="col-md-10"><%= will_paginate @proyectos, renderer: BootstrapPagination::Rails, :previous_label => "<<", :next_label => ">>" %></div>
    </div>

<% else %>

  <% unless params[:prospecto].blank? %>
    <%= ProspectoDetail params[:prospecto] %>
  <% end %>
  <div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        <td>Nome</td>
        <td>Prospetto</td>
        <td>Utente</td>
        <td>Obiettivi</td>
        <td>Status</td>
        <td></td>
        <% if params[:permiso_edit] %><th></th><% end %>
        <% if params[:permiso_delete] %><th></th><% end %>
      </tr>
    </thead>

    <tbody>
      <% @proyectos.each do |proyecto|
          objProyCount = Objetivo.where("proyecto_id = #{proyecto.id} AND estado_id != 2").count
          objProyText = ""
          if objProyCount >= 0
            objProyText = '<button type="button" class="btn btn-success btn-sm">Attivo</button>'
          else
            objProyText = '<button type="button" class="btn btn-primary btn-sm">Finalizzato</button>'
          end
      %>
        <tr>
          <td><%= proyecto.nombre %></td>
          <td><%= proyecto.prospecto.apellido_nombre %></td>
          <td><%= proyecto.usuario.nombre_usuario %></td>
          <td><%= link_to content_tag(:span, @objetivos = Objetivo.where(proyecto_id: proyecto.id).count, class: 'badge'), obj_proyecto_path(proyecto_id: proyecto.id) %></td>
          <td><%= objProyText.html_safe %></td>
          <% if params[:prospecto].blank? %>
          <td><%= link_to content_tag(:span, '', class: 'glyphicon glyphicon-folder-open'), proyecto, title: 'Mostrare', id: "acciones" %></td>
          <% if params[:permiso_edit] %><td><%= link_to content_tag(:span, '', class: 'glyphicon glyphicon-edit'), edit_proyecto_path(proyecto), title: 'Modifica', id: "acciones" %></td><% end %>
          <% if params[:permiso_delete] %><td><%= link_to content_tag(:span, '', class: 'glyphicon glyphicon-remove'), proyecto, title: 'Eliminare', id: "acciones", method: :delete, data: { confirm: 'Sei sicuro?' } %></td><% end %>
          <% else %>
          <td><%= link_to content_tag(:span, '', class: 'glyphicon glyphicon-folder-open'), proyecto_path(proyecto,prospecto: params[:prospecto]), title: 'Mostrare', id: "acciones" %></td>
          <% if params[:permiso_edit] %><td><%= link_to content_tag(:span, '', class: 'glyphicon glyphicon-edit'), edit_proyecto_path(proyecto,prospecto: params[:prospecto]), title: 'Modifica', id: "acciones" %></td><% end %>
          <% if params[:permiso_delete] %><td><%= link_to content_tag(:span, '', class: 'glyphicon glyphicon-remove'), proyecto_path(proyecto,prospecto: params[:prospecto]), title: 'Eliminare', id: "acciones", method: :delete, data: { confirm: 'Sei sicuro?' } %></td><% end %>
          <% end %>
        </tr>
      <% end %>
    </tbody>
    <tfoot>
      <tr>
        <td>Totale Progetti: <b><%= @cantidad %></b></td>
      </tr>
    </tfoot>
  </table>
  </div>
  <br>
    <div class="row">
      <% if params[:permiso_new] %>
          <% if params[:prospecto].blank? %>
            <div class="col-md-2"><%= link_to 'Nuovo Progetto', new_proyecto_path, class: 'btn btn-primary btn-sm', id: 'color-blanco' %></div>
          <% else %>
            <div class="col-md-2"><%= link_to 'Nuovo Progetto', new_proyecto_path(prospecto: params[:prospecto]), class: 'btn btn-primary btn-sm', id: 'color-blanco' %></div>
          <% end %>
      <% end %>
      <div class="col-md-10"><%= will_paginate @proyectos, renderer: BootstrapPagination::Rails, :previous_label => "<<", :next_label => ">>" %></div>

    </div>

<% end %>
