<script>
$("#pryt").addClass("start active");
</script>
<div class="panel-heading">
	<% if params[:prospecto].blank?%>
	<%= link_to content_tag(:span, '', class: 'glyphicon glyphicon-chevron-left'), proyectos_path, class: "lnk_back",title: 'Ritorno' %> &nbsp;&nbsp;
	<% else %>
	<%= link_to content_tag(:span, '', class: 'glyphicon glyphicon-chevron-left'), proyectos_path(prospecto: params[:prospecto]), class: "lnk_back",title: 'Ritorno' %> &nbsp;&nbsp;
	<% end %>
	Progetto dettagli <%= @proyecto.nombre %>
</div>
<div class="table-responsive">
<%= ProspectoDetail @proyecto.prospecto.id %>
<p>
  <strong>Nome:</strong>
  <%= @proyecto.nombre %>
</p>
<p>
  <strong>Utente:</strong>
  <%= @proyecto.usuario.nombre_completo %>
</p>
<% if params[:prospecto].blank?%>
<% if params[:permiso_edit] %><%= link_to 'Modifica', edit_proyecto_path(@proyecto), class: "btn btn-primary", id: "color-blanco" %><% end %>
<% else %>
<% if params[:permiso_edit] %><%= link_to 'Modifica', edit_proyecto_path(@proyecto,prospecto: params[:prospecto]), class: "btn btn-primary", id: "color-blanco" %><% end %>
<% end %>
</div>
