<%= form_for(@entrenamiento) do |f| %>
  <% if @entrenamiento.errors.any? %>
    <div id="error_explanation">
      <h2><%=raw t('errors.template.header', count: @entrenamiento.errors.count, model: "livello di addestramento") %></h2>

      <ul>
      <% @entrenamiento.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nombre, id:"color-etiq"  %><br>
    <%= f.text_field :nombre %>
  </div>
  <div class="actions">
    <%= f.submit t('.submit'), class:"btn btn-default"%>
  </div>
<% end %>
