<div class="panel-heading">
	<%= link_to content_tag(:span, '', class: 'glyphicon glyphicon-chevron-left'), entrenamientos_path, class: "lnk_back", title: 'Ritorno' %> &nbsp;&nbsp;
	Modifica livello di addestramento
</div>
<div class="table-responsive">
<%= render 'form' %>
<%= link_to 'Mostrare', @entrenamiento, class: "btn btn-primary", id: "color-blanco" %>
</div>
