<div class="panel-heading">
	<%= link_to content_tag(:span, '', class: 'glyphicon glyphicon-chevron-left'), entrenamientos_path, class: "lnk_back", title: 'Ritorno' %> &nbsp;&nbsp;
	Nuovo Livello di addestramento
</div>
<div class="table-responsive">
<%= render 'form' %>
<%= link_to 'Ritorno', entrenamientos_path, class: "btn btn-default" %>
</div>
