<div class="panel-heading">
	<%= link_to content_tag(:span, '', class: 'glyphicon glyphicon-chevron-left'), entrenamientos_path, class: "lnk_back", title: 'Ritorno' %> &nbsp;&nbsp;
	Livello di addestramento dettagli <%= @entrenamiento.nombre %>
</div>
<div class="table-responsive">
<p>
  <strong>Nome:</strong>
  <%= @entrenamiento.nombre %>
</p>
<% if params[:permiso_edit] %><%= link_to 'Modifica', edit_entrenamiento_path(@entrenamiento), class: "btn btn-primary", id: "color-blanco" %><% end %>
</div>
