<h1>Listing menus</h1>

<table>
  <thead>
    <tr>
      <th>Span menu</th>
      <th>Class menu</th>
      <th>Path menu</th>
      <th>Id li menu</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @menus.each do |menu| %>
      <tr>
        <td><%= menu.span_menu %></td>
        <td><%= menu.class_menu %></td>
        <td><%= menu.path_menu %></td>
        <td><%= menu.id_li_menu %></td>
        <td><%= link_to 'Show', menu %></td>
        <td><%= link_to 'Edit', edit_menu_path(menu) %></td>
        <td><%= link_to 'Destroy', menu, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Menu', new_menu_path %>
