<p id="notice"><%= notice %></p>

<p>
  <strong>Span menu:</strong>
  <%= @menu.span_menu %>
</p>

<p>
  <strong>Class menu:</strong>
  <%= @menu.class_menu %>
</p>

<p>
  <strong>Path menu:</strong>
  <%= @menu.path_menu %>
</p>

<p>
  <strong>Id li menu:</strong>
  <%= @menu.id_li_menu %>
</p>

<%= link_to 'Edit', edit_menu_path(@menu) %> |
<%= link_to 'Back', menus_path %>
