<%= form_for(@organizacion) do |f| %>
  <% if @organizacion.errors.any? %>
    <div id="error_explanation">
      <h2><%=raw t('errors.template.header', count: @organizacion.errors.count, model: "organizzazione") %></h2>

      <ul>
      <% @organizacion.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nombre, id:"color-etiq" %><br>
    <%= f.text_field :nombre %>
  </div>
  <div class="actions">
    <%= f.submit t('.submit'), class:"btn btn-default" %>
  </div>
<% end %>
