<div class="panel-heading">
	<%= link_to content_tag(:span, '', class: 'glyphicon glyphicon-chevron-left'), organizaciones_path, class: "lnk_back",title: 'Ritorno' %> &nbsp;&nbsp;
	Modifica Organizzazione
</div>
<div class="table-responsive">
<%= render 'form' %>

<%= link_to 'Mostrare', @organizacion, class: "btn btn-primary", id: "color-blanco" %>

</div>
