<div class="panel-heading" id="panel-heading-sep">Elenco Organizzazioni</div>
<div class="table-responsive">
<table class="table table-hover">
  <thead>
    <tr>
      <td>Nome</td>
      <td></td>
      <% if params[:permiso_edit] %><th></th><% end %>
      <% if params[:permiso_delete] %><th></th><% end %>
    </tr>
  </thead>

  <tbody>
    <% @organizaciones.each do |organizacion| %>
      <tr>
        <td><%= organizacion.nombre %></td>
        <td><%= link_to content_tag(:span, '', class: 'glyphicon glyphicon-folder-open'), organizacion, title: 'Mostrare', id: "acciones" %></td>
        <% if params[:permiso_edit] %><td><%= link_to content_tag(:span, '', class: 'glyphicon glyphicon-edit'), edit_organizacion_path(organizacion), title: 'Modifica', id: "acciones" %></td><% end %>
        <% if params[:permiso_delete] %><td><%= link_to content_tag(:span, '', class: 'glyphicon glyphicon-remove'), organizacion, title: 'Eliminare', id: "acciones", method: :delete, data: { confirm: 'Sei sicuro?' } %></td><% end %>
      </tr>
    <% end %>
  </tbody>
  <tfoot>
    <tr>
      <td>Totale Organizzazioni: <b><%= @cantidad %></b></td>
    </tr>
  </tfoot>
</table>
</div>
<br>
  <div class="row">
        <% if params[:permiso_new] %>
    <div class="col-md-2"><%= link_to 'Nuova Organizzazione', new_organizacion_path, class: 'btn btn-primary btn-sm', id: 'color-blanco' %></div>
    <% end %>
    <div class="col-md-8"><%= will_paginate @organizaciones, renderer: BootstrapPagination::Rails, :previous_label => "<<", :next_label => ">>" %></div>

  </div>
