<div class="panel-heading">
	<%= link_to content_tag(:span, '', class: 'glyphicon glyphicon-chevron-left'), organizaciones_path, class: "lnk_back",title: 'Ritorno' %> &nbsp;&nbsp;
	Organizzazione dettagli <%= @organizacion.nombre %>
</div>
<div class="table-responsive">
<p>
  <strong>Nome:</strong>
  <%= @organizacion.nombre %>
</p>
<% if params[:permiso_edit] %><%= link_to 'Modifica', edit_organizacion_path(@organizacion), class: "btn btn-primary", id: "color-blanco" %><% end %>

</div>
