<script type="text/javascript">
function mostrar_ocultar(){
  if($("#carta_respuesta").is(':checked')){
    $("#url_adjunto_dv").show();
  } else {
    $("#url_adjunto_dv").hide();
  }
}
</script>
<%= form_for(@carta) do |f| %>
  <%
    prospecto_au = ""
    prospecto_id = ""
    unless @carta.prospecto.blank?
      prospecto_au = @carta.prospecto.apellido_nombre
      prospecto_id = @carta.prospecto.id
    end
  %>
  <% if @carta.errors.any? %>
    <div id="error_explanation">
      <h2><%=raw t('errors.template.header', count: @carta.errors.count, model: "lettera") %></h2>
      <ul>
      <% @carta.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= hidden_field_tag "prosp", params[:prospecto] %>
  <div class="field">
    <% if params[:action] == "new" %>
      <%= f.hidden_field(:usuario_id, value: session[:usuario_id] ) %>
    <% else %>
      <%= f.label :usuario, id:"color-etiq" %>: <%= f.label Usuario.find_by(id: @carta.usuario_id).nombre_completo %><br>
      <%= f.hidden_field :usuario_id, value: @carta.usuario_id %>
    <% end %>
  </div>
  <div class="row">
    <div class="col-xs-4">
    <% if params[:prospecto].blank? %>
      <%= f.label :prospecto, id:"color-etiq" %><br>
      <%= autocomplete_field_tag "prospecto_au",prospecto_au , autocomplete_prospecto_apellido_cartas_path, :update_elements => {:id => "#carta_prospecto_id" },:placeholder => "Inserisci prospetto", :size => 75, class: 'form-control' %>
      <%= f.hidden_field(:prospecto_id, value: prospecto_id ) %>
  <% else %>
    <%= f.label :prospecto, id:"color-etiq" %>: <%= f.label Prospecto.find_by(id: params[:prospecto]).apellido_nombre %><br>
    <%= f.hidden_field(:prospecto_id, value: params[:prospecto] ) %>
  <% end %>
  </div></div>
  <div class="field">
    <%= f.label :fecha, id:"color-etiq" %><br>
    <%= f.datetime_select :fecha %>
  </div>
  <div class="row">
    <div class="col-xs-4">
        <%= f.label :cuerpo, id:"color-etiq" %><br>
        <%= f.file_field :cuerpo, class:"form-control" %>
      </div>
  </div>
  <div class="field">
    <%= f.label :respuesta, id:"color-etiq" %><br>
    <%= f.check_box :respuesta, onclick: "mostrar_ocultar();" %>
  </div>
  <div class="row" id="url_adjunto_dv" >
    <div class="col-xs-4">
      <%= f.label :url_adjunto, id:"color-etiq" %><br>
      <%= f.file_field :url_adjunto, class:"form-control" %>
    </div>
  </div>
  <div class="actions">
    <%= f.submit t('.submit'), class:"btn btn-default" %>
  </div>
<% end %>
<script type="text/javascript">
  mostrar_ocultar();
</script>
