<script>
$("#crt").addClass("start active");
</script>
<div class="panel-heading">
	<% if params[:prospecto].blank? %>
		<%= link_to content_tag(:span, '', class: 'glyphicon glyphicon-chevron-left'), cartas_path, class: "lnk_back",title: 'Ritorno' %> &nbsp;&nbsp;
	<% else %>
		<%= link_to content_tag(:span, '', class: 'glyphicon glyphicon-chevron-left'), cartas_path(prospecto: params[:prospecto]), class: "lnk_back",title: 'Ritorno' %> &nbsp;&nbsp;
	<% end %>
	Modifica Lettera
</div>
<div class="table-responsive">
<%= render 'form' %>

<% if params[:prospecto].blank? %>
<%= link_to 'Mostrare', @carta, class: "btn btn-primary", id: "color-blanco" %>
<% else %>
<%= link_to 'Mostrare', carta_path(@carta,prospecto: params[:prospecto]), class: "btn btn-primary", id: "color-blanco" %>
<% end %>
</div>
