<%
  prospecto_au = ""
  unless params[:prospecto].blank?
    prospecto_au = Prospecto.find_by(id: params[:prospecto]).apellido_nombre
  end
%>

<script>
  $("#crt").addClass("start active");
</script>

<div class="panel-heading" id="panel-heading-sep">
  Elenco Lettere
  <div class="row">
  <br>
  <%= form_tag("/cartas", method: "get") do %>
  <div class="col-md-4"><%=autocomplete_field_tag "prospecto_au", prospecto_au, autocomplete_prospecto_apellido_cartas_path, :update_elements => {:id => '#prospecto' }, :placeholder => "Inserisci prospetto", :size => 75, class: 'form-control' %></div>
  <%= hidden_field_tag "prospecto",params[:prospecto] %>
    <div class="col-md-8"><%= submit_tag "Ricerca", class: "btn btn-success btn-md" %>
  <% unless params[:prospecto].blank? %>&nbsp<%= submit_tag "X", class: "btn btn-danger btn-md" %><% end %></div>
  <% end %>
  </div>
</div>

<% if @cartas.count.zero? %>

  <div class="panel-heading" id="panel-heading-sep">
    <center><label id="color-etiq">Nessuna Lettera da visualizzare</label></center>
  </div>
  <br>

    <div class="row">

      <% if params[:permiso_new] %>
        <% if params[:prospecto].blank? %>
          <div class="col-md-2"><%= link_to 'Nuova Lettera', new_carta_path, class: 'btn btn-primary btn-sm', id: 'color-blanco' %></div>
        <% else %>
          <div class="col-md-2"><%= link_to 'Nuova Lettera', new_carta_path(prospecto: params[:prospecto]), class: 'btn btn-primary btn-sm', id: 'color-blanco' %></div>
        <% end %>
      <% end %>
      <div class="col-md-10"><%= will_paginate @cartas, renderer: BootstrapPagination::Rails, :previous_label => "<<", :next_label => ">>" %></div>
    </div>


<% else %>

  <% unless params[:prospecto].blank? %>
    <%= ProspectoDetail params[:prospecto] %>
  <% end %>

  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <td>Utente</td>
          <% if params[:prospecto].blank? %><td>Prospetto</td><% end %>
          <td>Data</td>
          <td>Lettera</td>
          <td>Risposta</td>
          <td></td>
          <% if params[:permiso_edit] %><td></td><% end %>
          <% if params[:permiso_delete] %><td></td><% end %>
        </tr>
      </thead>
      <tbody>



          <% @cartas.each do |carta| %>
            <tr>
              <td><%= carta.usuario.nombre_completo %></td>
              <% if params[:prospecto].blank? %><td><%= carta.prospecto.apellido_nombre %></td><% end %>
              <td><%= carta.fecha %></td>
              <td><%= link_to "Apri file" , "../" + carta.cuerpo.to_s, target: "_blank" %></td>
              <td><% if carta.respuesta %><%= link_to "Apri file" , "../" + carta.url_adjunto.to_s, target: "_blank" %><%else%><span class='glyphicon glyphicon-remove-sign'></span><%end%></td>
              <% if params[:prospecto].blank? %>
              <td><%= link_to content_tag(:span, '', class: 'glyphicon glyphicon-folder-open'), carta, title: 'Mostrare', id: "acciones" %></td>
              <% if params[:permiso_edit] %><td><%= link_to content_tag(:span, '', class: 'glyphicon glyphicon-edit'), edit_carta_path(carta), title: 'Modifica', id: "acciones" %></td><% end %>
              <% if params[:permiso_delete] %><td><%= link_to content_tag(:span, '', class: 'glyphicon glyphicon-remove'), carta, title: 'Eliminare', id: "acciones", method: :delete, data: { confirm: 'Sei sicuro?' } %></td><% end %>
              <% else %>
              <td><%= link_to content_tag(:span, '', class: 'glyphicon glyphicon-folder-open'), carta_path(carta, prospecto: params[:prospecto]), title: 'Mostrare', id: "acciones" %></td>
              <% if params[:permiso_edit] %><td><%= link_to content_tag(:span, '', class: 'glyphicon glyphicon-edit'), edit_carta_path(carta, prospecto: params[:prospecto]), title: 'Modifica', id: "acciones" %></td><% end %>
              <% if params[:permiso_delete] %><td><%= link_to content_tag(:span, '', class: 'glyphicon glyphicon-remove'), carta_path(carta, prospecto: params[:prospecto]), title: 'Eliminare', id: "acciones", method: :delete, data: { confirm: 'Sei sicuro?' } %></td><% end %>
              <% end %>
            </tr>
          <% end %>


      </tbody>
      <tfoot>
        <tr>
          <td>Totale Lettere: <b><%= @cantidad %></b></td>
        </tr>
      </tfoot>
    </table>
  </div>

  <br>

    <div class="row">
      <% if params[:permiso_new] %>
        <% if params[:prospecto].blank? %>
          <div class="col-md-2"><%= link_to 'Nuova Lettera', new_carta_path, class: 'btn btn-primary btn-sm', id: 'color-blanco' %></div>
        <% else %>
          <div class="col-md-2"><%= link_to 'Nuova Lettera', new_carta_path(prospecto: params[:prospecto]), class: 'btn btn-primary btn-sm', id: 'color-blanco' %></div>
        <% end %>
      <% end %>
      <div class="col-md-10"><%= will_paginate @cartas, renderer: BootstrapPagination::Rails, :previous_label => "<<", :next_label => ">>" %></div>

    </div>

<% end %>
