<script>
$("#crt").addClass("start active");
</script>
<div class="panel-heading">
	<% if params[:prospecto].blank? %>
		<%= link_to content_tag(:span, '', class: 'glyphicon glyphicon-chevron-left'), cartas_path, class: "lnk_back",title: 'Ritorno' %> &nbsp;&nbsp;
	<% else %>
		<%= link_to content_tag(:span, '', class: 'glyphicon glyphicon-chevron-left'), cartas_path(prospecto: params[:prospecto]), class: "lnk_back",title: 'Ritorno' %> &nbsp;&nbsp;
	<% end %>
	Nuovo Lettera
</div>
<div class="table-responsive">
<%= render 'form' %>
</div>
