
<script>
$("#crt").addClass("start active");
</script>
<div class="panel-heading">
  <% if params[:prospecto].blank? %>
    <%= link_to content_tag(:span, '', class: 'glyphicon glyphicon-chevron-left'), cartas_path, class: "lnk_back",title: 'Ritorno' %> &nbsp;&nbsp;
  <% else %>
    <%= link_to content_tag(:span, '', class: 'glyphicon glyphicon-chevron-left'), cartas_path(prospecto: params[:prospecto]), class: "lnk_back",title: 'Ritorno' %> &nbsp;&nbsp;
  <% end %>
  Lettera dettagli
</div>
<div class="table-responsive">

<%= ProspectoDetail @carta.prospecto.id %>

<p>
  <strong>Utente:</strong>
  <%= @carta.usuario.nombre_completo %>
</p>

<p>
  <strong>Data:</strong>
  <%= @carta.fecha %>
</p>

<p>
  <strong>Lettera:</strong>
  <%= link_to "Apri file" , "../../" + @carta.cuerpo.to_s, target: "_blank" %>
</p>

<p>
  <strong>Risposta:</strong>
  <% if @carta.respuesta %>
    <span class='glyphicon glyphicon glyphicon-ok-sign'></span>
    <%= link_to "Apri file" , "../../" + @carta.url_adjunto.to_s, target: "_blank" %>
  <% else %>
    <span class='glyphicon glyphicon-remove-sign'></span>
  <% end %>
</p>

<% if params[:prospecto].blank?%>
<% if params[:permiso_edit] %><%= link_to 'Modifica', edit_carta_path(@carta), class: "btn btn-primary", id: "color-blanco" %><% end %>
<% else %>
<% if params[:permiso_edit] %><%= link_to 'Modifica', edit_carta_path(@carta, prospecto: params[:prospecto]), class: "btn btn-primary", id: "color-blanco" %><% end %>
<% end %>
</div>
