<script>
$("#crt").addClass("start active");
</script>
<div class="panel-heading">Subir archivo</div>
<%= form_tag({action: :upload_file}, multipart: true) do %>
  <%= file_field_tag 'url_adjunto' %>
  <%= hidden_field_tag  'id', params[:id] %>
  <%= submit_tag "Subir", class: "btn btn-success btn-xs" %>
<% end %>
