<%= form_for(@permisologia_menu) do |f| %>
  <% if @permisologia_menu.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@permisologia_menu.errors.count, "error") %> prohibited this permisologia_menu from being saved:</h2>

      <ul>
      <% @permisologia_menu.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :rol %><br>
    <%= f.text_field :rol %>
  </div>
  <div class="field">
    <%= f.label :menu %><br>
    <%= f.text_field :menu %>
  </div>
  <div class="field">
    <%= f.label :permiso %><br>
    <%= f.check_box :permiso %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
