<h1>Listing permisologias_menu</h1>

<table>
  <thead>
    <tr>
      <th>Rol</th>
      <th>Menu</th>
      <th>Permiso</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @permisologias_menu.each do |permisologia_menu| %>
      <tr>
        <td><%= permisologia_menu.rol %></td>
        <td><%= permisologia_menu.menu %></td>
        <td><%= permisologia_menu.permiso %></td>
        <td><%= link_to 'Show', permisologia_menu %></td>
        <td><%= link_to 'Edit', edit_permisologia_menu_path(permisologia_menu) %></td>
        <td><%= link_to 'Destroy', permisologia_menu, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Permisologia menu', new_permisologia_menu_path %>
