<p id="notice"><%= notice %></p>

<p>
  <strong>Rol:</strong>
  <%= @permisologia_menu.rol %>
</p>

<p>
  <strong>Menu:</strong>
  <%= @permisologia_menu.menu %>
</p>

<p>
  <strong>Permiso:</strong>
  <%= @permisologia_menu.permiso %>
</p>

<%= link_to 'Edit', edit_permisologia_menu_path(@permisologia_menu) %> |
<%= link_to 'Back', permisologias_menu_path %>
