<%= form_for(@permisologia_configuracion) do |f| %>
  <% if @permisologia_configuracion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@permisologia_configuracion.errors.count, "error") %> prohibited this permisologia_configuracion from being saved:</h2>

      <ul>
      <% @permisologia_configuracion.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :rol %><br>
    <%= f.text_field :rol %>
  </div>
  <div class="field">
    <%= f.label :configuracion %><br>
    <%= f.text_field :configuracion %>
  </div>
  <div class="field">
    <%= f.label :permiso %><br>
    <%= f.check_box :permiso %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
