<h1>Listing permisologia_configuraciones</h1>

<table>
  <thead>
    <tr>
      <th>Rol</th>
      <th>Configuracion</th>
      <th>Permiso</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @permisologia_configuraciones.each do |permisologia_configuracion| %>
      <tr>
        <td><%= permisologia_configuracion.rol %></td>
        <td><%= permisologia_configuracion.configuracion %></td>
        <td><%= permisologia_configuracion.permiso %></td>
        <td><%= link_to 'Show', permisologia_configuracion %></td>
        <td><%= link_to 'Edit', edit_permisologia_configuracion_path(permisologia_configuracion) %></td>
        <td><%= link_to 'Destroy', permisologia_configuracion, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Permisologia configuracion', new_permisologia_configuracion_path %>
