<p id="notice"><%= notice %></p>

<p>
  <strong>Rol:</strong>
  <%= @permisologia_configuracion.rol %>
</p>

<p>
  <strong>Configuracion:</strong>
  <%= @permisologia_configuracion.configuracion %>
</p>

<p>
  <strong>Permiso:</strong>
  <%= @permisologia_configuracion.permiso %>
</p>

<%= link_to 'Edit', edit_permisologia_configuracion_path(@permisologia_configuracion) %> |
<%= link_to 'Back', permisologia_configuraciones_path %>
