 <!-- Default panel contents -->
<div class="panel-heading" id="panel-heading-sep"><%= t(".bienvenido") %></div>
<div class="panel-body">

	<div class="row">
	    <div class="col-md-6">
			<div class="panel panel-primary">
			  <div class="panel-heading"><h3 class="panel-title"><span class="glyphicon glyphicon-bell"> Avvisi</span></h3></div>
			  <div class="panel-body">
			    <%= t(".alerta_texto1") %> <%= link_to content_tag(:span, @record = NotaTelefonicas.where("visitado != true AND fecha_recordatorio <= ? AND recordatorio = true",Time.now.to_formatted_s(:db)).count, class: 'badge', style: 'background:#ad2121;'), calendario_index_path %> <%= t(".alerta_texto2") %>
			  </div>
			</div>
	    </div>
	    <div class="col-md-6">
	    	<div class="panel panel-success">
			  <div class="panel-heading"><h3 class="panel-title"><span class="glyphicon glyphicon-stats"> Statistiche settimanali</span></h3></div>
			  <div class="panel-body">
			  	<div class="table-responsive">
  					<table class="table table-hover">
					   <%
					   fecha = Time.now
					#	fecha = DateTime.parse("2014-04-17 22:30:14")
					#	formatted_date = fecha.strftime('%a %b %d %H:%M:%S %Z %Y')
					   dweek = fecha.strftime("%w")
							case dweek.to_s
							when "5"
								rest = 24
							when "6"
								rest = 48
							when "0"
								rest = 72
							when "1"
								rest = 96
							when "2"
								rest = 120
							when "3"
								rest = 144
							when "4"
								rest = 168
							end

							if dweek.to_s == "4" and fecha.hour >= 14
								day = fecha
							else
								day = fecha - rest.hours
							end
							anio = day.year.to_s
							mes = day.month.to_s
							if day.month < 10
								mes = "0" + mes
							end
							dia = day.day.to_s
					#		if day.day < 10
					#			dia = "0" + mes
					#		end

							fechadef = DateTime.parse(anio + "-" + mes + "-" + dia + " 14:00:00")
							fechaant = fechadef - (168).hours
							#formatted_date = fechadef.strftime('%a %b %d %H:%M:%S %Z %Y')
					   	%>
					   	<thead>
					   		<td width="70"></td>
					   		<td width="100" style="font-size:12px;"><center><%= (fechaant + (168).hours).strftime("%d/%m/%Y") %></center></td>
					   		<td width="100" style="font-size:12px;"><center><%= (fechadef + (168).hours).strftime("%d/%m/%Y") %></center></td>
					   		<td width="50"></td>
					   	<tbody>
					   		<tr>
					     		<td>Prospetti inseriti</td>
					     		<td><center><%= link_to content_tag(:span, @record = Prospecto.where("created_at >= ? AND created_at < ? AND usuario_id = ?",fechaant.to_formatted_s(:db),fechadef.to_formatted_s(:db),session[:usuario_id]).count.to_s, class: 'badge', style: ' background-color: #DFF0D8; color: #333333;'), estadisticas_indiv_path %></center></td>
					     		<td><center><%= link_to content_tag(:span, @record = Prospecto.where("created_at >= ? AND usuario_id = ?",fechadef.to_formatted_s(:db),session[:usuario_id]).count.to_s, class: 'badge', style: 'background-color: #DFF0D8; color: #333333;'), estadisticas_indiv_path %></center></td>
					     <%
					     	actCount = Prospecto.where("created_at >= ? AND usuario_id = ?",fechadef.to_formatted_s(:db),session[:usuario_id]).count
					     	antCount = Prospecto.where("created_at >= ? AND created_at < ? AND usuario_id = ?",fechaant.to_formatted_s(:db),fechadef.to_formatted_s(:db),session[:usuario_id]).count

					     	if actCount <= antCount
								%><td><center><span class='glyphicon glyphicon-circle-arrow-down' style='color:red;'></span></center></td><%
					     	else
								%><td><center><span class='glyphicon glyphicon-circle-arrow-up' style='color:green;'></span></center></td><%
					 		end
					     %>
					     	</tr>
							<tr>
					     		<td>Chiamate fatte</td>
					     		<td><center><%= link_to content_tag(:span, @record = NotaTelefonicas.where("fecha >= ? AND fecha < ? AND usuario_id = ?",fechaant.to_formatted_s(:db),fechadef.to_formatted_s(:db),session[:usuario_id]).count.to_s, class: 'badge', style: ' background-color: #DFF0D8; color: #333333;'), estadisticas_indiv_path %></center></td>
					     		<td><center><%= link_to content_tag(:span, @record = NotaTelefonicas.where("fecha >= ? AND usuario_id = ?",fechadef.to_formatted_s(:db),session[:usuario_id]).count.to_s, class: 'badge', style: ' background-color: #DFF0D8; color: #333333;'), estadisticas_indiv_path %></center></td>
		 			     <%
					     	actCount = NotaTelefonicas.where("fecha >= ? AND usuario_id = ?",fechadef.to_formatted_s(:db),session[:usuario_id]).count
					     	antCount = NotaTelefonicas.where("fecha >= ? AND fecha < ? AND usuario_id = ?",fechaant.to_formatted_s(:db),fechadef.to_formatted_s(:db),session[:usuario_id]).count
					     	if actCount <= antCount
								%><td><center><span class='glyphicon glyphicon-circle-arrow-down' style='color:red;'></span></center></td><%
					     	else
								%><td><center><span class='glyphicon glyphicon-circle-arrow-up' style='color:green;'></span></center></td><%
					 		end
					     %>
					     	</tr>
							<tr>
							 <td>Promemorie scadute</td>
							 <td><center><%= link_to content_tag(:span, @record = NotaTelefonicas.where("fecha_recordatorio >= ? AND fecha_recordatorio <= ? AND usuario_id = ? AND visitado = FALSE",fechaant.to_formatted_s(:db), fechadef.to_formatted_s(:db),session[:usuario_id]).count.to_s, class: 'badge', style: ' background-color: #DFF0D8; color: #333333;'), estadisticas_indiv_path %></center></td>
							 <td><center><%= link_to content_tag(:span, @record = NotaTelefonicas.where("fecha_recordatorio >= ? AND fecha_recordatorio <= ? AND usuario_id = ? AND visitado = FALSE",fechadef.to_formatted_s(:db), fecha.to_formatted_s(:db),session[:usuario_id]).count.to_s, class: 'badge', style: ' background-color: #DFF0D8; color: #333333;'), estadisticas_indiv_path %></center></td>
					     <%
					     	actCount = NotaTelefonicas.where("fecha_recordatorio >= ? AND fecha_recordatorio <= ? AND usuario_id = ? AND visitado = FALSE",fechadef.to_formatted_s(:db), fecha.to_formatted_s(:db),session[:usuario_id]).count
					     	antCount = NotaTelefonicas.where("fecha_recordatorio >= ? AND fecha_recordatorio <= ? AND usuario_id = ? AND visitado = FALSE",fechaant.to_formatted_s(:db), fechadef.to_formatted_s(:db),session[:usuario_id]).count
					     	if actCount <= antCount
								%><td><center><span class='glyphicon glyphicon-circle-arrow-down' style='color:red;'></span></center></td><%
					     	else
								%><td><center><span class='glyphicon glyphicon-circle-arrow-up' style='color:green;'></span></center></td><%
					 		end
					     %>
					     	</tr>
							<tr>
							 	<td>Lettere spedite</td>
							 	<td><center><%= link_to content_tag(:span, @record = Carta.where("fecha >= ? AND fecha <= ? AND usuario_id = ?",fechaant.to_formatted_s(:db),fechadef.to_formatted_s(:db),session[:usuario_id]).count.to_s, class: 'badge', style: ' background-color: #DFF0D8; color: #333333;'), estadisticas_indiv_path %></center></td>
							 	<td><center><%= link_to content_tag(:span, @record = Carta.where("fecha >= ? AND fecha <= ? AND usuario_id = ?",fechadef.to_formatted_s(:db),fecha.to_formatted_s(:db),session[:usuario_id]).count.to_s, class: 'badge', style: ' background-color: #DFF0D8; color: #333333;'), estadisticas_indiv_path %></center></td>
					     <%
					     	actCount = Carta.where("fecha >= ? AND fecha <= ? AND usuario_id = ?",fechadef.to_formatted_s(:db),fecha.to_formatted_s(:db),session[:usuario_id]).count
					     	antCount = Carta.where("fecha >= ? AND fecha <= ? AND usuario_id = ?",fechaant.to_formatted_s(:db),fechadef.to_formatted_s(:db),session[:usuario_id]).count
					     	if actCount <= antCount
								%><td><center><span class='glyphicon glyphicon-circle-arrow-down' style='color:red;'></span></center></td><%
					     	else
								%><td><center><span class='glyphicon glyphicon-circle-arrow-up' style='color:green;'></span></center></td><%
					 		end
					     %>
					     	</tr>
							<tr>
							 	<td>Lettere risposte</td>
							 	<td><center><%= link_to content_tag(:span, @record = Carta.where("fecha >= ? AND fecha <= ? AND usuario_id = ? AND respuesta = TRUE",fechaant.to_formatted_s(:db),fechadef.to_formatted_s(:db),session[:usuario_id]).count.to_s, class: 'badge', style: ' background-color: #DFF0D8; color: #333333;'), estadisticas_indiv_path %></center></td>
							 	<td><center><%= link_to content_tag(:span, @record = Carta.where("fecha >= ? AND fecha <= ? AND usuario_id = ? AND respuesta = TRUE",fechadef.to_formatted_s(:db),fecha.to_formatted_s(:db),session[:usuario_id]).count.to_s, class: 'badge', style: ' background-color: #DFF0D8; color: #333333;'), estadisticas_indiv_path %></center></td>
		 			     <%
					     	actCount = Carta.where("fecha >= ? AND fecha <= ? AND usuario_id = ? AND respuesta = TRUE",fechadef.to_formatted_s(:db),fecha.to_formatted_s(:db),session[:usuario_id]).count
					     	antCount = Carta.where("fecha >= ? AND fecha <= ? AND usuario_id = ? AND respuesta = TRUE",fechaant.to_formatted_s(:db),fechadef.to_formatted_s(:db),session[:usuario_id]).count
					     	if actCount <= antCount
								%><td><center><span class='glyphicon glyphicon-circle-arrow-down' style='color:red;'></span></center></td><%
					     	else
								%><td><center><span class='glyphicon glyphicon-circle-arrow-up' style='color:green;'></span></center></td><%
					 		end
					     %>
					     	</tr>
							<tr>
							 	<td>Progetti conclusi</td>
							 	<td><center><%= link_to content_tag(:span, @record = Proyecto.find_by_sql(["SELECT DISTINCT proy.* FROM proyectos proy, objetivos obj WHERE NOT EXISTS (SELECT * FROM objetivos obj2 WHERE obj2.proyecto_id = proy.id AND obj2.estado_id = 1) AND NOT EXISTS (SELECT * FROM objetivos obj2 WHERE obj2.proyecto_id = proy.id AND obj2.fecha_fin > ?) AND obj.proyecto_id = proy.id AND obj.fecha_fin >= ? AND obj.fecha_fin <= ? AND proy.usuario_id = ?",fechadef.to_formatted_s(:db),fechaant.to_formatted_s(:db),fechadef.to_formatted_s(:db),session[:usuario_id]]).count.to_s, class: 'badge', style: ' background-color: #DFF0D8; color: #333333;'), estadisticas_indiv_path %></center></td>
							 	<td><center><%= link_to content_tag(:span, @record = Proyecto.find_by_sql(["SELECT DISTINCT proy.* FROM proyectos proy, objetivos obj WHERE NOT EXISTS (SELECT * FROM objetivos obj2 WHERE obj2.proyecto_id = proy.id AND obj2.estado_id = 1) AND NOT EXISTS (SELECT * FROM objetivos obj2 WHERE obj2.proyecto_id = proy.id AND obj2.fecha_fin > ?) AND obj.proyecto_id = proy.id AND obj.fecha_fin >= ? AND obj.fecha_fin <= ? AND proy.usuario_id = ?",fecha.to_formatted_s(:db),fechadef.to_formatted_s(:db),fecha.to_formatted_s(:db),session[:usuario_id]]).count.to_s, class: 'badge', style: ' background-color: #DFF0D8; color: #333333;'), estadisticas_indiv_path %></center></td>
		 			     <%
					     	actCount = Proyecto.find_by_sql(["SELECT DISTINCT proy.* FROM proyectos proy, objetivos obj WHERE NOT EXISTS (SELECT * FROM objetivos obj2 WHERE obj2.proyecto_id = proy.id AND obj2.estado_id = 1) AND NOT EXISTS (SELECT * FROM objetivos obj2 WHERE obj2.proyecto_id = proy.id AND obj2.fecha_fin > ?) AND obj.proyecto_id = proy.id AND obj.fecha_fin >= ? AND obj.fecha_fin <= ? AND proy.usuario_id = ?",fecha.to_formatted_s(:db),fechadef.to_formatted_s(:db),fecha.to_formatted_s(:db),session[:usuario_id]]).count
					     	antCount = Proyecto.find_by_sql(["SELECT DISTINCT proy.* FROM proyectos proy, objetivos obj WHERE NOT EXISTS (SELECT * FROM objetivos obj2 WHERE obj2.proyecto_id = proy.id AND obj2.estado_id = 1) AND NOT EXISTS (SELECT * FROM objetivos obj2 WHERE obj2.proyecto_id = proy.id AND obj2.fecha_fin > ?) AND obj.proyecto_id = proy.id AND obj.fecha_fin >= ? AND obj.fecha_fin <= ? AND proy.usuario_id = ?",fechadef.to_formatted_s(:db),fechaant.to_formatted_s(:db),fechadef.to_formatted_s(:db),session[:usuario_id]]).count
					     	if actCount <= antCount
								%><td><center><span class='glyphicon glyphicon-circle-arrow-down' style='color:red;'></span></center></td><%
					     	else
								%><td><center><span class='glyphicon glyphicon-circle-arrow-up' style='color:green;'></span></center></td><%
					 		end
					     %>
					     	</tr>
							<tr>
								<td>Obiettivi fatti</td>
								<td><center><%= link_to content_tag(:span, @record = Objetivo.find_by_sql(["SELECT DISTINCT obj.* FROM proyectos proy, objetivos obj WHERE obj.proyecto_id = proy.id AND obj.fecha_fin >= ? AND obj.fecha_fin <= ? AND proy.usuario_id = ? AND obj.estado_id = 2",fechaant.to_formatted_s(:db),fechadef.to_formatted_s(:db),session[:usuario_id]]).count.to_s, class: 'badge', style: ' background-color: #DFF0D8; color: #333333;'), estadisticas_indiv_path %></center></td>
								<td><center><%= link_to content_tag(:span, @record = Objetivo.find_by_sql(["SELECT DISTINCT obj.* FROM proyectos proy, objetivos obj WHERE obj.proyecto_id = proy.id AND obj.fecha_fin >= ? AND obj.fecha_fin <= ? AND proy.usuario_id = ? AND obj.estado_id = 2",fechadef.to_formatted_s(:db),fecha.to_formatted_s(:db),session[:usuario_id]]).count.to_s, class: 'badge', style: ' background-color: #DFF0D8; color: #333333;'), estadisticas_indiv_path %></center></td>
		 			     <%
					     	actCount = Objetivo.find_by_sql(["SELECT DISTINCT obj.* FROM proyectos proy, objetivos obj WHERE obj.proyecto_id = proy.id AND obj.fecha_fin >= ? AND obj.fecha_fin <= ? AND proy.usuario_id = ? AND obj.estado_id = 2",fechadef.to_formatted_s(:db),fecha.to_formatted_s(:db),session[:usuario_id]]).count
					     	antCount = Objetivo.find_by_sql(["SELECT DISTINCT obj.* FROM proyectos proy, objetivos obj WHERE obj.proyecto_id = proy.id AND obj.fecha_fin >= ? AND obj.fecha_fin <= ? AND proy.usuario_id = ? AND obj.estado_id = 2",fechaant.to_formatted_s(:db),fechadef.to_formatted_s(:db),session[:usuario_id]]).count
					     	if actCount <= antCount
								%><td><center><span class='glyphicon glyphicon-circle-arrow-down' style='color:red;'></span></center></td><%
					     	else
								%><td><center><span class='glyphicon glyphicon-circle-arrow-up' style='color:green;'></span></center></td><%
					 		end
					     %>
 					     	</tr>
					    </tbody>
					</table>
  			  </div>
			</div>
	    </div>
	</div>
</div>

