<div class="panel-heading">
	<%= link_to content_tag(:span, '', class: 'glyphicon glyphicon-chevron-left'), edociviles_path, class: "lnk_back", title: 'Ritorno' %> &nbsp;&nbsp;
	Nuovo Stato Civile
</div>
<div class="table-responsive">
<%= render 'form' %>
</div>
