<div class="panel-heading">
	<%= link_to content_tag(:span, '', class: 'glyphicon glyphicon-chevron-left'), edociviles_path, class: "lnk_back", title: 'Ritorno' %> &nbsp;&nbsp;
	Stato Civile dettagli <%= @edocivil.nombre %>
</div>
<div class="table-responsive">
<p>
  <strong>Nome:</strong>
  <%= @edocivil.nombre %>
</p>
<% if params[:permiso_edit] %><%= link_to 'Modifica', edit_edocivil_path(@edocivil), class: "btn btn-primary", id: "color-blanco" %><% end %>
</div>
