<div>
  <%= form_tag url_for(controller: 'inicio', action: 'olvido_clave')  do   %>

    <h3>Olvidó su Clave?</h3>
    <p>
       Introduzca su dirección de correo electrónico a continuación para restablecer la contraseña.
    </p>

    <div class="form-group">
      <%= label_tag :Correo, 'Correo', class: 'control-label visible-ie8 visible-ie9' %>
      <div class="input-icon">
        <i class="glyphicon glyphicon-envelope"></i>
        <%= text_field_tag(:correo, "", size: 50, class: 'form-control placeholder-no-fix', placeholder: 'Correo Electrónico', autocomplete: 'off') %>
      </div>
    </div>

    <div class="form-actions">
      <div class="row">
        <div class="col-md-6">
          <%= link_to content_tag(:span, ' Regresar', class: 'glyphicon glyphicon-circle-arrow-left'), :back, class: "btn btn-default" %>
        </div>
        <div class="col-md-6"> 
          <p class="text-right">
            <button type="submit" class="btn btn-success">
              Aceptar <i class="glyphicon glyphicon-circle-arrow-right"></i>
            </button>
          </p>
        </div>
      </div>
   </div></br>
  <% end %>
</div>  