<div class="panel-heading">
	<%= link_to content_tag(:span, '', class: 'glyphicon glyphicon-chevron-left'), tipos_path, class: "lnk_back", title: 'Ritorno' %> &nbsp;&nbsp;
	Tipo dettagli <%= @tipo.nombre %>
</div>
<div class="table-responsive">
<p>
  <strong>Nome:</strong>
  <%= @tipo.nombre %>
</p>
<% if params[:permiso_edit] %><%= link_to 'Modifica', edit_tipo_path(@tipo), class: "btn btn-primary", id: "color-blanco" %><% end %>
</div>
