<%= form_for(@prospecto) do |f| %>
<script type="text/javascript">
  $(document).ready(function(){
    $("#prospecto_tipologia_id").change(function(){
        if ($(this).val() == 2)
        {
            $(".fieldOrgPublic").show();
        }else
        {
            $(".fieldOrgPublic").hide();
            $("#prospecto_public").prop('checked',false);
        }
    });
  });
</script>
  <% if @prospecto.errors.any? %>
    <div id="error_explanation">
      <h2><%=raw t('errors.template.header', count: @prospecto.errors.count, model: "prospetto") %></h2>
      <ul>
      <% @prospecto.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


    <div class="row">
    <div class="col-xs-4">
    <% if params[:action] == "new" %>
      <%= f.hidden_field(:usuario_id, value: session[:usuario_id] ) %>
    <% else %>
      <%= f.label :usuario %>: <%= f.label Usuario.find_by(id: @prospecto.usuario_id).nombre_completo %><br>
      <%= f.hidden_field :usuario_id, value: @prospecto.usuario_id %>
    <% end %>
  </div></div>
    <div class="row">
    <div class="col-xs-4">
    <%= f.label :apellido, id:"color-etiq" %><br>
    <%= f.text_field :apellido, class: 'form-control placeholder-no-fix', placeholder: 'E.g: Pirlo Andrea', autocomplete: 'off' %>
  </div></div>
    <div class="row">
    <div class="col-xs-4">
    <%= f.label :nombre, id:"color-etiq" %><br>
    <%= f.text_field :nombre, class: 'form-control placeholder-no-fix', placeholder: 'E.g: Pirlo Andrea', autocomplete: 'off' %>
  </div></div>
    <div class="row">
    <div class="col-xs-4">
    <%= f.label :direccion, id:"color-etiq" %><br>
    <%= f.text_field :direccion,  class:"form-control" %>
  </div></div>
  <div class="row">
    <div class="col-xs-4">
    <%= f.label :ciudad, id:"color-etiq" %><br>
    <%= f.collection_select :ciudad_id, Ciudad.all, :id, :nombre, {prompt: 'Selezionare'},{class: 'form-control'} %>
    </div>
  </div>
    <div class="row">
    <div class="col-xs-4">
    <%= f.label :zona_postal, id:"color-etiq" %><br>
    <%= f.text_field :zona_postal,  class:"form-control" %>
  </div></div>
    <div class="row">
    <div class="col-xs-4">
    <%= f.label :telefono, id:"color-etiq" %><br>
    <%= f.text_field :telefono,  class:"form-control" %>
  </div></div>
    <div class="row">
    <div class="col-xs-4">
    <%= f.label :correo, id:"color-etiq" %><br>
    <%= f.text_field :correo,  class:"form-control" %>
  </div></div>
    <div class="row">
    <div class="col-xs-4">
    <%= f.label :habilidad, id:"color-etiq" %><br>
    <%= f.collection_select :habilidad_id, Habilidad.all, :id, :nombre, {prompt: 'Selezionare'},{class: 'form-control'} %>
  </div></div>
    <div class="row">
    <div class="col-xs-4">
    <%= f.label :entrenamiento, id:"color-etiq" %><br>
    <%= f.collection_select :entrenamiento_id, Entrenamiento.all, :id, :nombre, {prompt: 'Selezionare'},{class: 'form-control'} %>
  </div></div>
    <div class="row">
    <div class="col-xs-4">
    <%= f.label :tipologia, id:"color-etiq" %><br>
    <%= f.collection_select :tipologia_id, Tipologia.all, :id, :nombre, {prompt: 'Selezionare'},{class: 'form-control'} %>
  </div></div>
    <div class="row">
    <div class="col-xs-4">
    <%= f.label :organizacion, id:"color-etiq" %><br>
    <%= f.collection_select :organizacion_id, Organizacion.all, :id, :nombre, {prompt: 'Selezionare'},{class: 'form-control'} %>
  </div></div>
  <div class="fieldOrgPublic" <% unless @prospecto.tipologia_id == 2 %>style="display:none;"<% end %>>
    <div class="row">
      <div class="col-xs-4">
        <%= f.label "Si trova nelle linee del pubblico?", id:"color-etiq" %><br>
        <%= f.check_box :public %>
      </div>
    </div>
  </div>
  <div class="fieldOrgPublic" <% unless @prospecto.tipologia_id == 2 %>style="display:none;"<% end %>>
    <div class="row">
      <div class="col-xs-4">
        <%= f.label "In quale organizazzione?", id:"color-etiq" %><br>
        <%= f.collection_select :organizacionpublic_id, Organizacion.all, :id, :nombre, {prompt: 'Selezionare'},{class: 'form-control'} %>
      </div>
    </div>
  </div>
    <div class="row">
    <div class="col-xs-4">
    <%= f.label :tipo, id:"color-etiq" %><br>
    <%= f.collection_select :tipo_id, Tipo.all, :id, :nombre, {prompt: 'Selezionare'},{class: 'form-control'} %>
  </div></div>
    <div class="row">
    <div class="col-xs-4">
    <%= f.label :edad, id:"color-etiq" %><br>
    <%= f.number_field :edad,  class:"form-control" %>
  </div></div>
    <div class="row">
    <div class="col-xs-4">
    <%= f.label :edocivil, id:"color-etiq" %><br>
    <%= f.collection_select :edocivil_id, Edocivil.all, :id, :nombre, {prompt: 'Selezionare'},{class: 'form-control'} %>
  </div></div>
    <div class="row">
    <div class="col-xs-4">
    <%= f.label :hijos, id:"color-etiq" %><br>
    <%= f.number_field :hijos,  class:"form-control" %>
  </div></div>
  <%= f.label :deudas, id:"color-etiq" %><br>
    <div class="row">
    <div class="col-xs-4">
  <div class="input-group">
    <%= f.number_field :deudas,  class:"form-control" %>
    <span class="input-group-addon">€</span>
  </div></div></div>
    <div class="row">
    <div class="col-xs-4">
    <%= f.label :area, id:"color-etiq" %><br>
    <%= f.collection_select :area_id, Area.all, :id, :nombre, {prompt: 'Selezionare'},{class: 'form-control'}  %>
  </div></div>
  <br>
  <div class="actions">
    <%= f.submit t('.submit'), class: 'btn btn-default btn-md', id: 'btn-defecto' %>
  </div>

<% end %>
