<script>
$("#prp").addClass("start active");
</script>
<div class="panel-heading"><%= link_to content_tag(:span, '', class: 'glyphicon glyphicon-chevron-left'), prospectos_path, class: "lnk_back",title: 'Ritorno' %> &nbsp;&nbsp;Modifica Prospetto</div>
<div class="table-responsive">
	<br>
<%= render 'form' %> <%= link_to 'Mostrare', @prospecto, class: "btn btn-primary btn-sm", id: "color-blanco" %>

</div>
