<%
  prospecto_au = ""
  unless params[:prospecto].blank?
    prospecto_au = Prospecto.find_by(id: params[:prospecto]).apellido_nombre
  end
%>
<style type="text/css">
  /*a:after { content:' [' attr(href) '] ';}*/
</style>
<script>
$("#prp").addClass("start active");
</script>

<% if @prospectos.count.zero? %>

  <div class="panel-heading" id="panel-heading-sep">
    <center><label id="color-etiq">nessuna nota telefonica da visualizzare</label></center>
  </div>
  <br>

    <div class="row">

      <% if params[:permiso_new] %>
        <% if params[:prospecto].blank? %>
          <div class="col-md-2"><%= link_to 'Nuovo Lettera', new_carta_path, class: 'btn btn-primary btn-sm', id: 'color-blanco' %></div>
        <% else %>
          <div class="col-md-2"><%= link_to 'Nuovo Lettera', new_carta_path(prospecto: params[:prospecto]), class: 'btn btn-primary btn-sm', id: 'color-blanco' %></div>
        <% end %>
      <% end %>
      <div class="col-md-10"><%= will_paginate @cartas, renderer: BootstrapPagination::Rails, :previous_label => "<<", :next_label => ">>" %></div>
    </div>


<% else %>

<div class="panel-heading" id="panel-heading-sep">Elenco Prospetti
<div class="row">
<br>
<%= form_tag("/prospectos", method: "get") do %>
  <div class="col-md-4"><%=autocomplete_field_tag "prospecto_au", prospecto_au, autocomplete_prospecto_apellido_prospectos_path, :update_elements => {:id => '#prospecto' }, :placeholder => "Inserisci prospetto", :size => 75, class: 'form-control' %></div>
  <%= hidden_field_tag "prospecto",params[:prospecto] %>
  <div class="col-md-8"><%= submit_tag "Ricerca", class: "btn btn-success btn-md" %>
  <% unless params[:prospecto].blank? %>&nbsp<%= submit_tag "X", class: "btn btn-danger btn-md" %><% end %>
<% end %></div>
</div>
<br />
<div class="row">
<%= form_tag("/prospectos", method: "get") do %>
  <div class="col-md-2" style="width: 13%;"><%= select_tag "tipo", options_from_collection_for_select(@tipo, "id", "nombre" , selected: params[:tipo]), prompt: 'Tipo:', class: 'form-control' %></div>
  <div class="col-md-2" style="width: 13%;"><%= select_tag "organizacion", options_from_collection_for_select(@organizacion, "id", "nombre", selected: params[:organizacion]), prompt: 'Organizzazione:', class: 'form-control' %></div>
  <div class="col-md-2" style="width: 13%;"><%= select_tag "habilidad", options_from_collection_for_select(@habilidad, "id", "nombre", selected: params[:habilidad]), prompt: 'Livello di caso:', class: 'form-control' %></div>
  <div class="col-md-2" style="width: 13%;"><%= select_tag "entrenamiento", options_from_collection_for_select(@entrenamiento, "id", "nombre", selected: params[:entrenamiento]), prompt: 'Livello di addestramento:', class: 'form-control' %></div>
  <div class="col-md-2" style="width: 13%;"><%= select_tag "tipologia", options_from_collection_for_select(@tipologia, "id", "nombre", selected: params[:tipologia]), prompt: 'Tipologia:', class: 'form-control' %></div>
  <div class="col-md-2" style="width: 13%;"><%= select_tag "edocivil", options_from_collection_for_select(@edocivil, "id", "nombre", selected: params[:edocivil]), prompt: 'Stato Civile:', class: 'form-control' %></div>
  <div class="col-md-2" style="width: 13%;"><%= select_tag "area", options_from_collection_for_select(@area, "id", "nombre", selected: params[:area]), prompt: 'Professione:', class: 'form-control' %></div>
  &nbsp&nbsp<%= submit_tag "Filtro", class: "btn btn-success btn-md" %>
<% end %>
</div>

</div>

<div class="table-responsive">
  <table class="table table-hover">
  <thead>
    <tr>
      <td>Cognome</td>
      <td>Nome</td>
      <td>Età</td>
      <td>Stato Civile</td>
      <td>Figli</td>
      <td>Debiti</td>
      <td>Città</td>
      <td>Teléfono</td>
      <td>Mail</td>
      <td></td>
      <% if params[:permiso_edit] %><th></th><% end %>
      <% if params[:permiso_delete] %><th></th><% end %>
    </tr>
  </thead>

  <tbody>
    <% @prospectos.each do |prospecto| %>
      <tr>
        <td><%= prospecto.apellido %></td>
        <td><%= prospecto.nombre %></td>
        <td><%= prospecto.edad %></td>
        <td><%unless prospecto.edocivil.blank?%><%= prospecto.edocivil.nombre %><% else %>Nessun valore<% end %></td>
        <td><%= prospecto.hijos %></td>
        <td><% if prospecto.deudas > 0 %><span class='glyphicon glyphicon-plus-sign' style='color:red;'></span><%else%><span class='glyphicon glyphicon-minus-sign' style='color:green;'></span><%end%></td>
        <td><%unless prospecto.ciudad.blank?%><%= prospecto.ciudad.nombre %><% else %>Nessun valore<% end %></td>
        <td><%= prospecto.telefono %></td>
        <td><%= prospecto.correo %></td>
        <td><%= link_to content_tag(:span, '', class: 'glyphicon glyphicon-folder-open'), prospecto, title: 'Mostrare', id: "acciones" %></td>
        <% if params[:permiso_edit] %><td><%= link_to content_tag(:span, '', class: 'glyphicon glyphicon-edit'), edit_prospecto_path(prospecto), title: 'Modifica', id: "acciones" %></td><% end %>
        <% if params[:permiso_delete] %><td><%= link_to content_tag(:span, '', class: 'glyphicon glyphicon-remove'), prospecto, title: 'Eliminare', id: "acciones", method: :delete, data: { confirm: 'Sei sicuro?' } %></td><% end %>
      </tr>
    <% end %>
  </tbody>

  <tfoot>
    <tr>
      <td>Totale Prospetti: <b><%= @cantidad %></b></td>

      <td><%= will_paginate @prospectos, renderer: BootstrapPagination::Rails, :previous_label => "<<", :next_label => ">>" %></td>


    </tr>
    <tr>
      <% if params[:permiso_new] %>
      <td><%= link_to 'Nuovo Prospetto', new_prospecto_path, class: 'btn btn-primary btn-sm', id: 'color-blanco' %></td>
      <% end %>
      <% if params[:commit].blank? %>
      <td>
        <%= link_to content_tag(:span, ' Stampa', class: 'glyphicon glyphicon-print'), prospectos_path(:format => "pdf"), class: 'btn btn-default btn-sm', target: "_blank"%>
      </td>
      <% else %>
      <td>
        <%= link_to content_tag(:span, ' Stampa', class: 'glyphicon glyphicon-print'), prospectos_path(:format => "pdf", tipo: params[:tipo],organizacion: params[:organizacion],habilidad: params[:habilidad],entrenamiento: params[:entrenamiento],tipologia: params[:tipologia],edocivil: params[:edocivil],area: params[:area]), :target => "_blank", class: 'btn btn-default btn-sm' %>
      </td>
      <% end %>
    </tr>
  </tfoot>

</table>

</div>

<% end %>
