<script>
$("#prp").addClass("start active");
</script>
<div class="panel-heading" id="panel-heading-sep">
	<%= link_to content_tag(:span, '', class: 'glyphicon glyphicon-chevron-left'), prospectos_path, class: "lnk_back",title: 'Ritorno' %> &nbsp;&nbsp;
	<b>Nuovo Prospetto</b>
</div>
<div class="table-responsive">
<%= render 'form' %>

</div>
