<script>
$("#prp").addClass("start active");
</script>
<div class="panel-heading" id="panel-heading-sep">
  <%= link_to content_tag(:span, '', class: 'glyphicon glyphicon-chevron-left'), prospectos_path, class: "lnk_back",title: 'Ritorno' %> &nbsp;&nbsp;
  <b>Prospetto dettagli <%= @prospecto.nombre %></b>
</div>



<div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Tipo</th>
        <th>Cognome Nome</th>
        <th>Età</th>
        <th>Stato Civile</th>
        <th>Figli</th>
        <th>Debiti</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%unless @prospecto.tipo.blank?%><%= @prospecto.tipo.nombre %><% else %>Nessun valore<% end %></td>
        <td><%= @prospecto.apellido_nombre %></td>
        <td><%= @prospecto.edad %></td>
        <td><%unless @prospecto.edocivil.blank?%><%= @prospecto.edocivil.nombre %><% else %>Nessun valore<% end %></td>
        <td><%= @prospecto.hijos %></td>
        <td><%= @prospecto.deudas %>&nbsp€</td>
      </tr>
    </tbody>
  </table>

  <table class="table table-hover">
    <thead>
      <tr>
        <th>Indirizzo</th>
        <th>Città</th>
        <th>Codice Postale</th>
        <th>Telefono</th>
        <th>Mail</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= @prospecto.direccion %></td>
        <td><%unless @prospecto.ciudad.blank?%><%= @prospecto.ciudad.nombre %><% else %>Nessun valore<% end %></td>
        <td><%= @prospecto.zona_postal %></td>
        <td><%= @prospecto.telefono %></td>
        <td><%= @prospecto.correo %></td>
      </tr>
    </tbody>
  </table>

  <table class="table table-hover">
    <thead>
      <tr>
        <th>Staff</th>
        <th>Exstaff</th>
        <th>Organizzazione</th>
        <th>Livello di caso</th>
        <th>Livello di addestramento</th>
        <th>Professione</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%unless @prospecto.tipologia.blank?%><%= @prospecto.tipologia.nombre %><% else %>Nessun valore<% end %></td>
        <td><%unless @prospecto.tipologia.blank?%><%= @prospecto.tipologia.nombre %><% else %>Nessun valore<% end %></td>
        <td><%unless @prospecto.organizacion.blank?%><%= @prospecto.organizacion.nombre %><% else %>Nessun valore<% end %></td>
        <td><%unless @prospecto.habilidad.blank?%><%= @prospecto.habilidad.nombre %><% else %>Nessun valore<% end %></td>
        <td><%unless @prospecto.entrenamiento.blank?%><%= @prospecto.entrenamiento.nombre %><% else %>Nessun valore<% end %></td>
        <td><%unless @prospecto.area.blank?%><%= @prospecto.area.nombre %><% else %>Nessun valore<% end %></td>
      </tr>
    </tbody>
  </table>
  <%= link_to content_tag(:span, ' Stampa', class: 'glyphicon glyphicon-print'), prospecto_path(:format => "pdf"), class: 'btn btn-default btn-sm',target: "_blank" %>
</div>
