<%= form_for(@tipologia) do |f| %>
  <% if @tipologia.errors.any? %>
    <div id="error_explanation">
      <h2><%=raw t('errors.template.header', count: @tipologia.errors.count, model: "tipologia") %></h2>

      <ul>
      <% @tipologia.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nombre %><br>
    <%= f.text_field :nombre %>
  </div>
  <div class="actions">
    <%= f.submit t('.submit'), class:"btn btn-default" %>
  </div>
<% end %>
