<div class="panel-heading">
	<%= link_to content_tag(:span, '', class: 'glyphicon glyphicon-chevron-left'), tipologias_path, class: "lnk_back", title: 'Ritorno' %> &nbsp;&nbsp;
	Nuovo Tipologia
</div>
<div class="table-responsive">
<%= render 'form' %>
<%= link_to 'Ritorno', tipologias_path, class: "btn btn-default" %>
</div>
