<div class="panel-heading">
	<%= link_to content_tag(:span, '', class: 'glyphicon glyphicon-chevron-left'), tipologias_path, class: "lnk_back", title: 'Ritorno' %> &nbsp;&nbsp;
	Tipologia dettagli <%= @tipologia.nombre %>
</div>
<div class="table-responsive">
<p>
  <strong>Nome:</strong>
  <%= @tipologia.nombre %>
</p>
<% if params[:permiso_edit] %><%= link_to 'Modifica', edit_tipologia_path(@tipologia), class: "btn btn-primary", id: "color-blanco" %><% end %>
</div>
