<div class="panel-heading">
	<%= link_to content_tag(:span, '', class: 'glyphicon glyphicon-chevron-left'), areas_path, class: "lnk_back", title: 'Ritorno' %> &nbsp;&nbsp;
	Modifica professione
</div>
<div class="table-responsive">

<%= render 'form' %>

<%= link_to 'Mostrare', @area, class: "btn btn-primary", id: "color-blanco" %>

</div>
