<div class="panel-heading" id="panel-heading-sep">Elenco professioni</div>

<div class="table-responsive">
<table class="table table-hover">
  <thead>
    <tr>
      <td>Nome</td>
      <td></td>
      <% if params[:permiso_edit] %><th></th><% end %>
      <% if params[:permiso_delete] %><th></th><% end %>
    </tr>
  </thead>

  <tbody>
    <% @areas.each do |area| %>
      <tr>
        <td><%= area.nombre %></td>
        <td><%= link_to content_tag(:span, '', class: 'glyphicon glyphicon-folder-open'), area, title: 'Mostrare', id: "acciones" %></td>
        <% if params[:permiso_edit] %><td><%= link_to content_tag(:span, '', class: 'glyphicon glyphicon-edit'), edit_area_path(area), title: 'Modifica', id: "acciones" %></td><% end %>
        <% if params[:permiso_delete] %><td><%= link_to content_tag(:span, '', class: 'glyphicon glyphicon-remove'), area, title: 'Eliminare', id: "acciones", method: :delete, data: { confirm: 'Sei sicuro?' } %></td><% end %>
      </tr>
    <% end %>
  </tbody>
  <tfoot>
    <tr>
      <td>Totale professioni: <b><%= @cantidad %></b></td>
    </tr>
  </tfoot>
</table>
</div>
<br>
  <div class="row">
        <% if params[:permiso_new] %>
    <div class="col-md-2"><%= link_to 'Nuovo professione', new_area_path, class: 'btn btn-primary btn-sm', id: 'color-blanco' %>
    </div>
    <% end %>
    <div class="col-md-10"><%= will_paginate @areas, renderer: BootstrapPagination::Rails, :previous_label => "<<", :next_label => ">>" %></div>

  </div>
