<div class="panel-heading">
	<%= link_to content_tag(:span, '', class: 'glyphicon glyphicon-chevron-left'), areas_path, class: "lnk_back", title: 'Ritorno' %> &nbsp;&nbsp;
	Professione dettagli <%= @area.nombre %>
</div>
<div class="table-responsive">
<p>
  <strong>Nome:</strong>
  <%= @area.nombre %>
</p>
<% if params[:permiso_edit] %><%= link_to 'Modifica', edit_area_path(@area), class: "btn btn-primary", id: "color-blanco" %><% end %>
</div>
