<div>


	<%= form_tag do %>
		<%= hidden_field_tag 'controller_act', params[:controller_act] %>
		<%= hidden_field_tag 'usr_id', params[:usr_id] %>
			<h3><%= t(".ingreso") %></h3>
			<div class="form-group">
					<%= label_tag :nombre_usuario, 'Usuario', class: 'control-label visible-ie8 visible-ie9' %>
					<div class="input-icon">
						<i class="glyphicon glyphicon-user"></i>
						<%= text_field_tag :nombre_usuario, params[:nombre_usuario], class: 'form-control placeholder-no-fix', placeholder: t(".nombre_usuario") , autocomplete: 'off'   %>
					</div>

			</div>

			<div class="form-group">
					<%= label_tag :Contraseña, 'Clave', class: 'control-label visible-ie8 visible-ie9' %>
					<div class="input-icon">
						<i class="glyphicon glyphicon-lock"></i>
						<%= password_field_tag :password, params[:password], class: 'form-control placeholder-no-fix', placeholder: t(".password"), autocomplete: 'off'  %>
					</div>
			</div>

			<div class="form-actions">
				<label class="checkbox">
				<input type="checkbox" name="remember" value="1"/> <%=t(".recuerdame") %> </label>
				<button type="submit" class="btn btn-success">
				<%=t(".iniciars")%> <i class="glyphicon glyphicon-log-in"></i>
				</button>
			</div>

			<div class="forget-password">
				<h4><%=t(".olvidaste")%></h4>
				<p>
					 <%= t(".clica") %>
					 <%= link_to t(".qui"), {controller: "inicio", action: "olvido_clave"}, id: "olvido_link" %>
					 <%= t(".recordar") %>
				</p>
			</div>

	<% end %>

</div>
