<div class="panel-heading">
	<%= link_to content_tag(:span, '', class: 'glyphicon glyphicon-chevron-left'), habilidades_path, class: "lnk_back", title: 'Ritorno' %> &nbsp;&nbsp;
	Modifica livello di caso
</div>
<div class="table-responsive">
<%= render 'form' %>
<%= link_to 'Mostrare', @habilidad, class: "btn btn-primary", id: "color-blanco" %> |
</div>
