<div class="panel-heading">
	<%= link_to content_tag(:span, '', class: 'glyphicon glyphicon-chevron-left'), habilidades_path, class: "lnk_back", title: 'Ritorno' %> &nbsp;&nbsp;
	Livello di caso dettagli <%= @habilidad.nombre %>
</div>
<div class="table-responsive">
<p>
  <strong>Nome:</strong>
  <%= @habilidad.nombre %>
</p>
<% if params[:permiso_edit] %><%= link_to 'Modifica', edit_habilidad_path(@habilidad), class: "btn btn-primary", id: "color-blanco" %><% end %>
</div>
