<%= form_for(@rol) do |f| %>
  <% if @rol.errors.any? %>
    <div id="error_explanation">
      <h2><%=raw t('errors.template.header', count: @rol.errors.count, model: "ruolo") %></h2>
      <ul>
      <% @rol.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="input-group">
  <div class="field">
    <%= f.label :nombre %><br>
    <%= f.text_field :nombre,  class:"form-control" %>
  </div>
  <div class="actions">
    <%= f.submit t('.submit'), class:"btn btn-default" %>
  </div>
</div>
<% end %>
