<div class="panel-heading">
	<%= link_to content_tag(:span, '', class: 'glyphicon glyphicon-chevron-left'), roles_path, class: "lnk_back",title: 'Ritorno' %> &nbsp;&nbsp;
	Modifica Ruolo
</div>
<div class="table-responsive">

<%= render 'form' %>
<%= link_to 'Mostrare', @rol, class: "btn btn-primary", id: "color-blanco" %>

</div>
