<div class="panel-heading" id="panel-heading-sep">Elenco ruoli</div>
<div class="table-responsive">
<table class="table table-hover">
  <thead>
    <tr>
      <td>Nome</td>
      <td></td>
      <% if params[:permiso_edit] %><th></th><% end %>
      <% if params[:permiso_delete] %><th></th><% end %>
    </tr>
  </thead>

  <tbody>
    <% @roles.each do |rol| %>
      <tr>
        <td><%= rol.nombre %></td>
        <td><%= link_to content_tag(:span, '', class: 'glyphicon glyphicon-folder-open'), rol, title: 'Mostrare', id: "acciones" %></td>
        <% if params[:permiso_edit] %><td><%= link_to content_tag(:span, '', class: 'glyphicon glyphicon-edit'), edit_rol_path(rol), title: 'Modifica', id: "acciones" %></td><% end %>
        <% if params[:permiso_delete] %><td><%= link_to content_tag(:span, '', class: 'glyphicon glyphicon-remove'), rol, title: 'Eliminare', id: "acciones", method: :delete, data: { confirm: 'Sei sicuro?' } %></td><% end %>
      </tr>
    <% end %>
  </tbody>
    <tfoot>
    <tr>
      <td>Totale ruoli: <b><%= @cantidad %></b></td>
    </tr>
  </tfoot>
</table>
</div>
<br>

  <div class="row">
    <div class="col-md-2">
        <% if session['rol_id'] == 1 %>
        <%= link_to 'Autorizzazioni', permisologia_path, class: 'btn btn-default btn-md', id: 'btn-defecto' %>
        <% end %>
    </div>
    <div class="col-md-1">
        <% if params[:permiso_new] %>
        <%= link_to 'Nuovo ruolo', new_rol_path, class: 'btn btn-primary btn-sm', id: 'color-blanco' %>
        <% end %>
    </div>
    <div class="col-md-9"><%= will_paginate @roles, renderer: BootstrapPagination::Rails, :previous_label => "<<", :next_label => ">>" %></div>

  </div>

