<script type="text/javascript">
  $(document).ready(function(){
    $(".checkPM").click(function(){
        var idPermisoMenu = $(this).attr('id').substring(2);
        $("#PMN"+idPermisoMenu).prop('checked',$(this).prop('checked'));
        $("#PME"+idPermisoMenu).prop('checked',$(this).prop('checked'));
        $("#PMD"+idPermisoMenu).prop('checked',$(this).prop('checked'));
    });
    $(".checkPMi").click(function(){
        var idPermisoMenu = $(this).attr('id').substring(3);
        $("#PM"+idPermisoMenu).prop('checked',true);
    });
    $(".checkPC").click(function(){
        var idPermisoMenu = $(this).attr('id').substring(2);
        $("#PCN"+idPermisoMenu).prop('checked',$(this).prop('checked'));
        $("#PCE"+idPermisoMenu).prop('checked',$(this).prop('checked'));
        $("#PCD"+idPermisoMenu).prop('checked',$(this).prop('checked'));
    });
    $(".checkPCi").click(function(){
        var idPermisoMenu = $(this).attr('id').substring(3);
        $("#PC"+idPermisoMenu).prop('checked',true);
    });
  });
</script>

<div class="panel-heading" id="panel-heading-sep">
  <%= link_to content_tag(:span, '', class: 'glyphicon glyphicon-chevron-left'), roles_path, class: "lnk_back", title: 'Ritorno' %> &nbsp;&nbsp;
  Autorizzazioni utenti
</div>
<%= form_tag({action: :updatePermisologia}) do %>
<div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        <td>Ruoli</td>
        <% roles = Rol.all %>
        <% roles.each do |rol| %>
          <td><%= rol.nombre %></td>
        <% end %>
      </tr>
      <tr>
        <td width="200">Funzionamento</td>
        <% roles.each do |rol| %>
        <th width="200">
          <span class="glyphicon glyphicon-plus"></span>
          <span class="glyphicon glyphicon-folder-open"></span>
          <span class="glyphicon glyphicon-edit"></span>
          <span class="glyphicon glyphicon-remove"></span>
        </th>
        <% end %>
      </tr>
  </thead>
  <tbody>
    <% menus = Menu.all %>
    <% menus.each do |menu| %>
      <tr>
        <td><%= menu.span_menu %></td>
        <% roles = Rol.all %>
        <% roles.each do |rol| %>
              <% permisologiaMenu = PermisologiaMenu.where(rol_id: rol.id).where(menu_id: menu.id).first %>
            <td>
              <%= check_box_tag "PM"+permisologiaMenu.id.to_s , permisologiaMenu.permiso, permisologiaMenu.permiso, class: 'checkPM' %>
              <%= check_box_tag "PMN"+permisologiaMenu.id.to_s , permisologiaMenu.permiso, permisologiaMenu.permiso_new , class: 'checkPMi'%>
              <%= check_box_tag "PME"+permisologiaMenu.id.to_s , permisologiaMenu.permiso, permisologiaMenu.permiso_edit , class: 'checkPMi'%>
              <%= check_box_tag "PMD"+permisologiaMenu.id.to_s , permisologiaMenu.permiso, permisologiaMenu.permiso_delete , class: 'checkPMi'%>
            </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<table class="table table-hover">
  <thead>
    <tr>
      <td width="200">Configurazione</td>
        <% roles.each do |rol| %>
        <th width="200">
          <span class="glyphicon glyphicon-plus"></span>
          <span class="glyphicon glyphicon-folder-open"></span>
          <span class="glyphicon glyphicon-edit"></span>
          <span class="glyphicon glyphicon-remove"></span>
        </th>
        <% end %>
    </tr>
  </thead>
  <tbody>
    <% configuraciones = Configuracion.all %>
    <% configuraciones.each do |configuracion| %>
      <tr>
        <td><%= configuracion.nombre_configuracion %></td>
        <% roles = Rol.all %>
        <% roles.each do |rol| %>
              <% permisologiaConfiguracion = PermisologiaConfiguracion.where(rol_id: rol.id).where(configuracion_id: configuracion.id).first %>
            <td>
              <%= check_box_tag "PC"+permisologiaConfiguracion.id.to_s , permisologiaConfiguracion.permiso, permisologiaConfiguracion.permiso, class: 'checkPC'%>
              <%= check_box_tag "PCN"+permisologiaConfiguracion.id.to_s , permisologiaConfiguracion.permiso, permisologiaConfiguracion.permiso_new,class: 'checkPCi'%>
              <%= check_box_tag "PCE"+permisologiaConfiguracion.id.to_s , permisologiaConfiguracion.permiso, permisologiaConfiguracion.permiso_edit,class: 'checkPCi'%>
              <%= check_box_tag "PCD"+permisologiaConfiguracion.id.to_s , permisologiaConfiguracion.permiso, permisologiaConfiguracion.permiso_delete, class: 'checkPCi'%>
            </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

</div>

<div class="row">
  <div class="col-md-2">
      <%= submit_tag "Aggiorna Autorizzazioni", class: "btn btn-primary btn-md", id: "color-blanco" %>
  </div>
</div>

<% end %>

