<div class="panel-heading">
	<%= link_to content_tag(:span, '', class: 'glyphicon glyphicon-chevron-left'), roles_path, class: "lnk_back",title: 'Ritorno' %> &nbsp;&nbsp;
	Roulo dettagli <%= @rol.nombre %>
</div>
<div class="table-responsive">
<p>
  <strong>Nome:</strong>
  <%= @rol.nombre %>
</p>
<% if params[:permiso_edit] %><%= link_to 'Modifica', edit_rol_path(@rol), class: "btn btn-primary", id: "color-blanco" %><% end %>
</div>
