<div class="panel-heading">
	<%= link_to content_tag(:span, '', class: 'glyphicon glyphicon-chevron-left'), ciudades_path, class: "lnk_back", title: 'Ritorno' %> &nbsp;&nbsp;
	Modifica Città
</div>
<div class="table-responsive">

<%= render 'form' %>

<%= link_to 'Mostrare', @ciudad, class: "btn btn-primary", id: "color-blanco" %>

</div>
