<div class="panel-heading">
	<%= link_to content_tag(:span, '', class: 'glyphicon glyphicon-chevron-left'), ciudades_path, class: "lnk_back", title: 'Ritorno' %> &nbsp;&nbsp;
	Città dettagli <%= @ciudad.nombre %>
</div>
<div class="table-responsive">
<p>
  <strong>Nome:</strong>
  <%= @ciudad.nombre %>
</p>

<% if params[:permiso_edit] %><%= link_to 'Modifica', edit_ciudad_path(@ciudad), class: "btn btn-primary", id: "color-blanco" %><% end %>
</div>
