<%= form_for(@configuracion) do |f| %>
  <% if @configuracion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@configuracion.errors.count, "error") %> prohibited this configuracion from being saved:</h2>

      <ul>
      <% @configuracion.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nombre_configuracion %><br>
    <%= f.text_field :nombre_configuracion %>
  </div>
  <div class="field">
    <%= f.label :path_configuracion %><br>
    <%= f.text_field :path_configuracion %>
  </div>
  <div class="field">
    <%= f.label :controlador_configuracion %><br>
    <%= f.text_field :controlador_configuracion %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
