<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre configuracion:</strong>
  <%= @configuracion.nombre_configuracion %>
</p>

<p>
  <strong>Path configuracion:</strong>
  <%= @configuracion.path_configuracion %>
</p>

<p>
  <strong>Controlador configuracion:</strong>
  <%= @configuracion.controlador_configuracion %>
</p>

<%= link_to 'Edit', edit_configuracion_path(@configuracion) %> |
<%= link_to 'Back', configuraciones_path %>
