<%= form_for(@usuario) do |f| %>
  <% if @usuario.errors.any? %>
    <div id="error_explanation">
      <h2><%=raw t('errors.template.header', count: @usuario.errors.count, model: "utente") %></h2>
      <ul>
      <% @usuario.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <div class="col-xs-4">
      <%= f.label :nombre_usuario, id:"color-etiq" %>
      <%= f.text_field :nombre_usuario,  class:"form-control" %>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-4">
      <%= f.label :nombre_completo, id:"color-etiq" %><br>
      <%= f.text_field :nombre_completo,  class:"form-control" %>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-4">
      <%= f.label :password, id:"color-etiq" %><br>
      <%= f.password_field :password,  class:"form-control", placeholder:"Immettere password" %>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-4">
      <%= f.label :password_confirmation, id:"color-etiq" %><br>
      <%= f.password_field :password_confirmation,  class: "form-control", placeholder:"Inserire la nuova password" %>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-4">
      <%= f.label :correo, id:"color-etiq" %><br>
      <%= f.text_field :correo,  class:"form-control", placeholder:"Inserisci un indirizzo email" %>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-4">
      <%= f.label :rol, id:"color-etiq" %><br>
      <%= f.collection_select :rol_id, Rol.all, :id, :nombre, {prompt: 'Selezionare'},{class: 'form-control'} %>
    </div>
  </div>

  <br>
  <div class="actions">
    <%= f.submit t('.submit'), class: 'btn btn-default btn-md', id: 'btn-defecto' %>
  </div>

<% end %>
