<script>
$("#usr").addClass("start active");
</script>
<div class="panel-heading"><%= link_to content_tag(:span, '', class: 'glyphicon glyphicon-chevron-left'), usuarios_path, class: "lnk_back",title: 'Ritorno' %> &nbsp;&nbsp;Modifica Utente</div>
<div class="table-responsive">
<%= render 'form' %>

<%= link_to 'Mostrare', @usuario, class: "btn btn-primary", id: "color-blanco" %>
</div>
