<script>
$("#usr").addClass("start active");
</script>
 <!-- Default panel contents -->
<div class="panel-heading" id="panel-heading-sep">Elenco Utenti</div>
<div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
      <td>Utente</td>
      <td>Nome</td>
      <td>Mail</td>
      <td>Ruolo</td>
      <th></th>
      <% if params[:permiso_edit] %><th></th><% end %>
      <% if params[:permiso_delete] %><th></th><% end %>
    </tr>
  </thead>

  <tbody>
    <% @usuarios.each do |usuario| %>
      <tr>
        <td><%= usuario.nombre_usuario %></td>
        <td><%= usuario.nombre_completo %></td>
        <td><%= usuario.correo %></td>
        <td><%= usuario.rol.nombre %></td>
        <td><%= link_to content_tag(:span, '', class: 'glyphicon glyphicon-folder-open'), usuario, title: 'Mostrare', id: "acciones" %></td>
        <% if params[:permiso_edit] %><td><%= link_to content_tag(:span, '', class: 'glyphicon glyphicon-edit'), edit_usuario_path(usuario), title: 'Modifica', id: "acciones" %></td><% end %>
        <% if params[:permiso_delete] %><td><%= link_to content_tag(:span, '', class: 'glyphicon glyphicon-remove'), usuario, title: 'Eliminare', id: "acciones", method: :delete, data: { confirm: 'Sei sicuro?' } %></td><% end %>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>
<div>
<div class="row">
    <% if params[:permiso_new] %>
      <div class="col-md-2"><%= link_to 'Nuovo Utente', new_usuario_path, class: 'btn btn-primary btn-sm', id: 'color-blanco' %></div>
    <% end %>
  <div class="col-md-10"><%= will_paginate @usuarios, renderer: BootstrapPagination::Rails, :previous_label => "<<", :next_label => ">>" %></div>

</div>
</div>
