<script>
$("#usr").addClass("start active");
</script>
<div class="panel-heading" id="panel-heading-sep">
	<%= link_to content_tag(:span, '', class: 'glyphicon glyphicon-chevron-left'), usuarios_path, class: "lnk_back", title: 'Ritorno' %> &nbsp;&nbsp;<b>Nuovo Utente</b>
</div>
<div class="table-responsive">
	<%= render 'form' %>
</div>
