<script>
$("#usr").addClass("start active");
</script>
<div class="panel-heading">
	<%= link_to content_tag(:span, '', class: 'glyphicon glyphicon-chevron-left'), usuarios_path, class: "lnk_back",title: 'Ritorno' %> &nbsp;&nbsp;Utente dettagli <%= @usuario.nombre_completo %>
</div>
<div class="table-responsive">
<p>
  <strong>Utente:</strong>
  <%= @usuario.nombre_usuario %>
</p>

<p>
  <strong>Nome:</strong>
  <%= @usuario.nombre_completo %>
</p>

<p>
  <strong>Mail:</strong>
  <%= @usuario.correo %>
</p>

<p>
  <strong>Ruolo:</strong>
  <%= @usuario.rol.nombre %>
</p>
<% if params[:permiso_edit] %><%= link_to 'Modifica', edit_usuario_path(@usuario), class: "btn btn-primary", id: "color-blanco" %><% end %>
</div>
