
@font-face {
  font-family: 'SansProRegular';
  src: url('fonts/SourceSansPro-Regular.otf');
  src: local('SansPro'), local('Notethis'), url('fonts/SourceSansPro-Regular.otf') format('otf'), url('fonts/SourceSansPro-Regular.otf') format('truetype'), url('fonts/SansPro.svg#SansPro') format('svg');
}

body {
  background:#ffffff;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  padding-top: 70px;
  padding-bottom: 70px;
  margin: 0;
  height: 100%;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

span{ font-weight:300;}

a {
  color: #000;
  &:visited {
    color: #666;
  }
  &:hover {
    color: #fff;
    background-color: #000;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}

#wrapper {
   min-height:100%;
   position:relative;
  }
