<%
fecha = Time.now
#	fecha = DateTime.parse("2014-04-17 22:30:14")
#	formatted_date = fecha.strftime('%a %b %d %H:%M:%S %Z %Y')
dweek = fecha.strftime("%w")
	case dweek.to_s
	when "5"
		rest = 24
	when "6"
		rest = 48
	when "0"
		rest = 72
	when "1"
		rest = 96
	when "2"
		rest = 120
	when "3"
		rest = 144
	when "4"
		rest = 168
	end

	if dweek.to_s == "4" and fecha.hour >= 14
		day = fecha
	else
		day = fecha - rest.hours
	end
	anio = day.year.to_s
	mes = day.month.to_s
	if day.month < 10
		mes = "0" + mes
	end
	dia = day.day.to_s
#	if day.day < 10
#		dia = "0" + mes
#	end

	fechadef = DateTime.parse(anio + "-" + mes + "-" + dia + " 14:00:00")
	arrsemanas = ""
	arrpros = ""
	arrprosg = ""
	arrpro = ""
	arrllam = ""
	arrllamg = ""
	arrecv = ""
	arrecvg = ""
	arrcart = ""
	arrcartg = ""
	arresp = ""
	arrespg = ""
	arrproy = ""
	arrproyg = ""
	arrobj = ""
	arrobjg = ""

	usuarios = Usuario.all.order('nombre_completo ASC')

	parr = ""
	llarr = ""
	recarr = ""
	cararr = ""
	resarr = ""
	proyarr = ""
	objarr = ""
		usuarios.each do |usuario|
				parr = parr + usuario.nombre_usuario + "*";
				llarr = llarr + usuario.nombre_usuario + "*";
				recarr = recarr + usuario.nombre_usuario + "*";
				cararr = cararr + usuario.nombre_usuario + "*";
				resarr = resarr + usuario.nombre_usuario + "*";
				proyarr = proyarr + usuario.nombre_usuario + "*";
				objarr = objarr + usuario.nombre_usuario + "*";
		end
		parr = parr + "|"
		llarr = llarr + "|"
		recarr = recarr + "|"
		cararr = cararr + "|"
		resarr = resarr + "|"
		proyarr = proyarr + "|"
		objarr = objarr + "|"
	i = 11
	y = 0
	while i > 0
		fechadefb = fechadef - (168*i).hours
		fechadefa = fechadef - (168*(i-1)).hours
		usuarios.each do |usuario|
			nprosto = Prospecto.where("created_at >= ? AND created_at <= ? AND usuario_id = ?",fechadefb.to_formatted_s(:db),fechadefa.to_formatted_s(:db),usuario.id).count.to_s
				parr = parr + nprosto + "*";
			nllamto = NotaTelefonicas.where("fecha >= ? AND fecha <= ? AND usuario_id = ?",fechadefb.to_formatted_s(:db),fechadefa.to_formatted_s(:db),usuario.id).count.to_s
				llarr = llarr + nllamto + "*";
			nrecto = NotaTelefonicas.where("fecha_recordatorio >= ? AND fecha_recordatorio <= ? AND usuario_id = ? AND visitado = FALSE",fechadefb.to_formatted_s(:db),fechadefa.to_formatted_s(:db),usuario.id).count.to_s
				recarr = recarr + nrecto + "*";
			ncarto = Carta.where("fecha >= ? AND fecha <= ? AND usuario_id = ?",fechadefb.to_formatted_s(:db),fechadefa.to_formatted_s(:db),usuario.id).count.to_s
				cararr = cararr + ncarto + "*";
			nresto = Carta.where("fecha >= ? AND fecha <= ? AND usuario_id = ? AND respuesta = TRUE",fechadefb.to_formatted_s(:db),fechadefa.to_formatted_s(:db),usuario.id).count.to_s
				resarr = resarr + nresto + "*";
			nproyto = Proyecto.find_by_sql(["SELECT DISTINCT proy.* FROM proyectos proy, objetivos obj WHERE NOT EXISTS (SELECT * FROM objetivos obj2 WHERE obj2.proyecto_id = proy.id AND obj2.estado_id = 1) AND NOT EXISTS (SELECT * FROM objetivos obj2 WHERE obj2.proyecto_id = proy.id AND obj2.fecha_fin > ?) AND obj.proyecto_id = proy.id AND obj.fecha_fin >= ? AND obj.fecha_fin <= ? AND proy.usuario_id = ?",fechadefa.to_formatted_s(:db),fechadefb.to_formatted_s(:db),fechadefa.to_formatted_s(:db),usuario.id]).count.to_s
			proyarr = proyarr + nproyto + "*";
			nobjto = Objetivo.find_by_sql(["SELECT DISTINCT obj.* FROM proyectos proy, objetivos obj WHERE obj.proyecto_id = proy.id AND obj.fecha_fin >= ? AND obj.fecha_fin <= ? AND proy.usuario_id = ? AND obj.estado_id = 2",fechadefb.to_formatted_s(:db),fechadefa.to_formatted_s(:db),usuario.id]).count.to_s
				objarr = objarr + nobjto + "*";

		end
		parr = parr + "|"
		llarr = llarr + "|"
		recarr = recarr + "|"
		cararr = cararr + "|"
		resarr = resarr + "|"
		proyarr = proyarr + "|"
		objarr = objarr + "|"
		npros = Prospecto.where("created_at >= ? AND created_at <= ? AND usuario_id = ?",fechadefb.to_formatted_s(:db),fechadefa.to_formatted_s(:db),session[:usuario_id]).count.to_s
		nprosg = Prospecto.where("created_at >= ? AND created_at <= ?",fechadefb.to_formatted_s(:db),fechadefa.to_formatted_s(:db)).count.to_s
		nllam = NotaTelefonicas.where("fecha >= ? AND fecha <= ? AND usuario_id = ?",fechadefb.to_formatted_s(:db),fechadefa.to_formatted_s(:db),session[:usuario_id]).count.to_s
		nllamg = NotaTelefonicas.where("fecha >= ? AND fecha <= ?",fechadefb.to_formatted_s(:db),fechadefa.to_formatted_s(:db)).count.to_s
		nrecv = NotaTelefonicas.where("fecha_recordatorio >= ? AND fecha_recordatorio <= ? AND usuario_id = ? AND visitado = FALSE",fechadefb.to_formatted_s(:db),fechadefa.to_formatted_s(:db),session[:usuario_id]).count.to_s
		nrecvg = NotaTelefonicas.where("fecha_recordatorio >= ? AND fecha_recordatorio <= ? AND visitado = FALSE",fechadefb.to_formatted_s(:db),fechadefa.to_formatted_s(:db)).count.to_s
		ncart = Carta.where("fecha >= ? AND fecha <= ? AND usuario_id = ?",fechadefb.to_formatted_s(:db),fechadefa.to_formatted_s(:db),session[:usuario_id]).count.to_s
		ncartg = Carta.where("fecha >= ? AND fecha <= ? ",fechadefb.to_formatted_s(:db),fechadefa.to_formatted_s(:db)).count.to_s
		nresp = Carta.where("fecha >= ? AND fecha <= ? AND usuario_id = ? AND respuesta = TRUE",fechadefb.to_formatted_s(:db),fechadefa.to_formatted_s(:db),session[:usuario_id]).count.to_s
		nrespg = Carta.where("fecha >= ? AND fecha <= ? AND respuesta = TRUE",fechadefb.to_formatted_s(:db),fechadefa.to_formatted_s(:db)).count.to_s
		nproy = Proyecto.find_by_sql(["SELECT DISTINCT proy.* FROM proyectos proy, objetivos obj WHERE NOT EXISTS (SELECT * FROM objetivos obj2 WHERE obj2.proyecto_id = proy.id AND obj2.estado_id = 1) AND NOT EXISTS (SELECT * FROM objetivos obj2 WHERE obj2.proyecto_id = proy.id AND obj2.fecha_fin > ?) AND obj.proyecto_id = proy.id AND obj.fecha_fin >= ? AND obj.fecha_fin <= ? AND proy.usuario_id = ?",fechadefa.to_formatted_s(:db),fechadefb.to_formatted_s(:db),fechadefa.to_formatted_s(:db),session[:usuario_id]]).count.to_s
		nproyg = Proyecto.find_by_sql(["SELECT DISTINCT proy.* FROM proyectos proy, objetivos obj WHERE NOT EXISTS (SELECT * FROM objetivos obj2 WHERE obj2.proyecto_id = proy.id AND obj2.estado_id = 1) AND NOT EXISTS (SELECT * FROM objetivos obj2 WHERE obj2.proyecto_id = proy.id AND obj2.fecha_fin > ?) AND obj.proyecto_id = proy.id AND obj.fecha_fin >= ? AND obj.fecha_fin <= ?",fechadefa.to_formatted_s(:db),fechadefb.to_formatted_s(:db),fechadefa.to_formatted_s(:db)]).count.to_s
		nobjg = Objetivo.where("fecha_fin >= ? AND fecha_fin <= ? AND estado_id = 2",fechadefb.to_formatted_s(:db),fechadefa.to_formatted_s(:db)).count.to_s
		formatted_dateb = fechadefb.strftime('%d/%m/%Y')
		formatted_datea = fechadefa.strftime('%d/%m/%Y')
		arrsemanas = arrsemanas + formatted_datea.to_s + " ( S#{i+1} )" + "|"
		arrpros = arrpros + npros + "|"
		arrprosg = arrprosg + nprosg + "|"
		arrllam = arrllam + nllam + "|"
		arrllamg = arrllamg + nllamg + "|"
		arrecv = arrecv + nrecv + "|"
		arrecvg = arrecvg + nrecvg + "|"
		arrcart = arrcart + ncart + "|"
		arrcartg = arrcartg + ncartg + "|"
		arresp = arresp + nresp + "|"
		arrespg = arrespg + nrespg + "|"
		arrproy = arrproy + nproy + "|"
		arrproyg = arrproyg + nproyg + "|"
		arrobjg = arrobjg + nobjg + "|"
	  	i -= 1

	end
yu = 0
		usuarios.each do |usuario|
			nprosto = Prospecto.where("created_at >= ? AND usuario_id = ?",fechadef.to_formatted_s(:db),usuario.id).count.to_s
				parr = parr + nprosto + "*";
			nllamto = NotaTelefonicas.where("fecha >= ? AND usuario_id = ? ",fechadef.to_formatted_s(:db),usuario.id).count.to_s
				llarr = llarr + nllamto + "*";
			nrecto = NotaTelefonicas.where("fecha_recordatorio >= ? AND fecha_recordatorio <= ? AND usuario_id = ? AND visitado = FALSE",fechadef.to_formatted_s(:db), fecha.to_formatted_s(:db),usuario.id).count.to_s
				recarr = recarr + nrecto + "*";
			ncarto = Carta.where("fecha >= ? AND usuario_id = ?",fechadef.to_formatted_s(:db),usuario.id).count.to_s
				cararr = cararr + ncarto + "*";
			nresto = Carta.where("fecha >= ? AND usuario_id = ? AND respuesta = TRUE",fechadef.to_formatted_s(:db),usuario.id).count.to_s
				resarr = resarr + nresto + "*";
			nproyto = Proyecto.find_by_sql(["SELECT DISTINCT proy.* FROM proyectos proy, objetivos obj WHERE NOT EXISTS (SELECT * FROM objetivos obj2 WHERE obj2.proyecto_id = proy.id AND obj2.estado_id = 1) AND NOT EXISTS (SELECT * FROM objetivos obj2 WHERE obj2.proyecto_id = proy.id AND obj2.fecha_fin > ?) AND obj.proyecto_id = proy.id AND obj.fecha_fin >= ? AND obj.fecha_fin <= ? AND proy.usuario_id = ?",fecha.to_formatted_s(:db),fechadef.to_formatted_s(:db),fecha.to_formatted_s(:db),usuario.id]).count.to_s
			proyarr = proyarr + nproyto + "*";
			nobjto = Objetivo.find_by_sql(["SELECT DISTINCT obj.* FROM proyectos proy, objetivos obj WHERE obj.proyecto_id = proy.id AND obj.fecha_fin >= ? AND proy.usuario_id = ? AND obj.estado_id = 2",fechadef.to_formatted_s(:db),usuario.id]).count.to_s
				objarr = objarr + nobjto + "*";
				yu +=1
		end

    nprosa = Prospecto.where("created_at >= ? AND usuario_id = ?",fechadef.to_formatted_s(:db),session[:usuario_id]).count.to_s
    nprosag = Prospecto.where("created_at >= ?",fechadef.to_formatted_s(:db)).count.to_s
    nllama = NotaTelefonicas.where("fecha >= ? AND usuario_id = ?",fechadef.to_formatted_s(:db),session[:usuario_id]).count.to_s
    nllamag = NotaTelefonicas.where("fecha >= ?",fechadef.to_formatted_s(:db)).count.to_s
    nrecva = NotaTelefonicas.where("fecha_recordatorio >= ? AND fecha_recordatorio <= ? AND usuario_id = ? AND visitado = FALSE",fechadef.to_formatted_s(:db), fecha.to_formatted_s(:db),session[:usuario_id]).count.to_s
   nrecvag = NotaTelefonicas.where("fecha_recordatorio >= ? AND fecha_recordatorio <= ? AND visitado = FALSE",fechadef.to_formatted_s(:db), fecha.to_formatted_s(:db)).count.to_s
	ncarta = Carta.where("fecha >= ? AND fecha <= ? AND usuario_id = ?",fechadef.to_formatted_s(:db),fecha.to_formatted_s(:db),session[:usuario_id]).count.to_s
	ncartag = Carta.where("fecha >= ? AND fecha <= ?",fechadef.to_formatted_s(:db),fecha.to_formatted_s(:db)).count.to_s
	nrespa = Carta.where("fecha >= ? AND fecha <= ? AND usuario_id = ? AND respuesta = TRUE",fechadef.to_formatted_s(:db),fecha.to_formatted_s(:db),session[:usuario_id]).count.to_s
	nrespag = Carta.where("fecha >= ? AND fecha <= ? AND respuesta = TRUE",fechadef.to_formatted_s(:db),fecha.to_formatted_s(:db)).count.to_s
	nproya = Proyecto.find_by_sql(["SELECT DISTINCT proy.* FROM proyectos proy, objetivos obj WHERE NOT EXISTS (SELECT * FROM objetivos obj2 WHERE obj2.proyecto_id = proy.id AND obj2.estado_id = 1) AND NOT EXISTS (SELECT * FROM objetivos obj2 WHERE obj2.proyecto_id = proy.id AND obj2.fecha_fin > ?) AND obj.proyecto_id = proy.id AND obj.fecha_fin >= ? AND obj.fecha_fin <= ? AND proy.usuario_id = ?",fecha.to_formatted_s(:db),fechadef.to_formatted_s(:db),fecha.to_formatted_s(:db),session[:usuario_id]]).count.to_s
	nproyag = Proyecto.find_by_sql(["SELECT DISTINCT proy.* FROM proyectos proy, objetivos obj WHERE NOT EXISTS (SELECT * FROM objetivos obj2 WHERE obj2.proyecto_id = proy.id AND obj2.estado_id = 1) AND NOT EXISTS (SELECT * FROM objetivos obj2 WHERE obj2.proyecto_id = proy.id AND obj2.fecha_fin > ?) AND obj.proyecto_id = proy.id AND obj.fecha_fin >= ? AND obj.fecha_fin <= ?",fecha.to_formatted_s(:db),fechadef.to_formatted_s(:db),fecha.to_formatted_s(:db)]).count.to_s
	nobjag = Objetivo.where("fecha_fin >= ? AND fecha_fin <= ? AND estado_id = 2",fechadef.to_formatted_s(:db),fecha.to_formatted_s(:db)).count.to_s
	formatted_date = fechadef.strftime('%d/%m/%Y')
	formatted_dateb = fecha.strftime('%d/%m/%Y')
	arrsemanas = arrsemanas + formatted_dateb + " ( S#{i+1} )"
	arrpros = arrpros + nprosa
	arrprosg = arrprosg + nprosag
	arrllam = arrllam + nllama
	arrllamg = arrllamg + nllamag
	arrecv = arrecv + nrecva
	arrecvg = arrecvg + nrecvag
	arrcart = arrcart + ncarta
	arrcartg = arrcartg + ncartag
	arresp = arresp + nrespa
	arrespg = arrespg + nrespag
	arrproy = arrproy + nproya
	arrproyg = arrproyg + nproyag
	arrobjg = arrobjg + nobjag
	%>
<script type="text/javascript">
$("#est").addClass("start active");
$(function () {
	/****** Prospectos tabla ********/
	var parrhtml = "";
	var parr = "<%= parr %>";
	var miparr = new Array();
	miparr = parr.split('|');
	pyu= parseInt("<%= yu %>");

	var semanas2 = "<%= arrsemanas %>";
	var arrsemanas2 = new Array();
	arrsemanas2 = semanas2.split('|');
	parrhtml = parrhtml + "<tr>";
	parrhtml = parrhtml + "<th>Utente</th>";
	for(i=0; i < arrsemanas2.length; i++){
		parrhtml = parrhtml + "<th>";
		parrhtml = parrhtml + "S " + String(12 - i);
		parrhtml = parrhtml + "</th>";
	}
	parrhtml = parrhtml + "</tr>";

	for(t=0; t < pyu; t++){
		parrhtml = parrhtml + "<tr>";
		for(i=0; i < miparr.length; i++){
			var miparr2 = new Array();
			miparr2 = miparr[i].split('*');
			parrhtml = parrhtml + "<td>";
			parrhtml = parrhtml + miparr2[t];
			parrhtml = parrhtml + "</td>";
		}
		parrhtml = parrhtml + "</tr>";
	}
	$("#tprospecto").html(parrhtml);
	var semanas = "<%= arrsemanas %>";
	var arrsemanas = new Array();
	arrsemanas = semanas.split('|');
	/************ PROSPECTOS POR SEMANA ***************/
	var pros = "<%= arrprosg %>";
	var arrpros = new Array();
	arrpros = pros.split('|');
	var arrprosint = new Array()
	for(i=0; i < arrpros.length; i++){
		arrprosint[i] = parseInt(arrpros[i]);
	}
	/****** Llamadas tabla ********/
	var	llarrhtml = "";
	var llarr = "<%= llarr %>";
	var millarr = new Array();
	millarr = llarr.split('|');
	pyu= parseInt("<%= yu %>");

	var semanas2 = "<%= arrsemanas %>";
	var arrsemanas2 = new Array();
	arrsemanas2 = semanas2.split('|');
	llarrhtml = llarrhtml + "<tr>";
	llarrhtml = llarrhtml + "<th>Utente</th>";
	for(i=0; i < arrsemanas2.length; i++){
		llarrhtml = llarrhtml + "<th>";
		llarrhtml = llarrhtml + "S " + String(12 - i);
		llarrhtml = llarrhtml + "</th>";
	}
	llarrhtml = llarrhtml + "</tr>";

	for(t=0; t < pyu; t++){
		llarrhtml = llarrhtml + "<tr>";
		for(i=0; i < millarr.length; i++){
			var millarr2 = new Array();
			millarr2 = millarr[i].split('*');
			llarrhtml = llarrhtml + "<td>";
			llarrhtml = llarrhtml + millarr2[t];
			llarrhtml = llarrhtml + "</td>";
		}
		llarrhtml = llarrhtml + "</tr>";
	}
	$("#tllamada").html(llarrhtml);

	/************ LLAMADAS REALIZADAS ***************/
	var llam = "<%= arrllamg %>";
	var arrllams = new Array();
	arrllams = llam.split('|');
	var arrllamsint = new Array()
	for(i=0; i < arrllams.length; i++){
		arrllamsint[i] = parseInt(arrllams[i]);
	}


	/****** Recordatorio tabla ********/
	var	recarrhtml = "";
	var recarr = "<%= recarr %>";
	var mirecarr = new Array();
	mirecarr = recarr.split('|');
	pyu= parseInt("<%= yu %>");

	var semanas2 = "<%= arrsemanas %>";
	var arrsemanas2 = new Array();
	arrsemanas2 = semanas2.split('|');
	recarrhtml = recarrhtml + "<tr>";
	recarrhtml = recarrhtml + "<th>Utente</th>";
	for(i=0; i < arrsemanas2.length; i++){
		recarrhtml = recarrhtml + "<th>";
		recarrhtml = recarrhtml + "S " + String(12 - i);
		recarrhtml = recarrhtml + "</th>";
	}
	recarrhtml = recarrhtml + "</tr>";

	for(t=0; t < pyu; t++){
		recarrhtml = recarrhtml + "<tr>";
		for(i=0; i < mirecarr.length; i++){
			var mirecarr2 = new Array();
			mirecarr2 = mirecarr[i].split('*');
			recarrhtml = recarrhtml + "<td>";
			recarrhtml = recarrhtml + mirecarr2[t];
			recarrhtml = recarrhtml + "</td>";
		}
		recarrhtml = recarrhtml + "</tr>";
	}
	$("#trecordatorio").html(recarrhtml);

	/************ RECORDATORIOS VENCIDOS ***************/
	var recv = "<%= arrecvg %>";
	var arrrecvs = new Array();
	arrrecvs = recv.split('|');
	var arrrecvsint = new Array()
	for(i=0; i < arrrecvs.length; i++){
		arrrecvsint[i] = parseInt(arrrecvs[i]);
	}

	/****** Cartas tabla ********/
	var	cararrhtml = "";
	var cararr = "<%= cararr %>";
	var micararr = new Array();
	micararr = cararr.split('|');
	pyu= parseInt("<%= yu %>");

	var semanas2 = "<%= arrsemanas %>";
	var arrsemanas2 = new Array();
	arrsemanas2 = semanas2.split('|');
	cararrhtml = cararrhtml + "<tr>";
	cararrhtml = cararrhtml + "<th>Utente</th>";
	for(i=0; i < arrsemanas2.length; i++){
		cararrhtml = cararrhtml + "<th>";
		cararrhtml = cararrhtml + "S " + String(12 - i);
		cararrhtml = cararrhtml + "</th>";
	}
	cararrhtml = cararrhtml + "</tr>";

	for(t=0; t < pyu; t++){
		cararrhtml = cararrhtml + "<tr>";
		for(i=0; i < micararr.length; i++){
			var micararr2 = new Array();
			micararr2 = micararr[i].split('*');
			cararrhtml = cararrhtml + "<td>";
			cararrhtml = cararrhtml + micararr2[t];
			cararrhtml = cararrhtml + "</td>";
		}
		cararrhtml = cararrhtml + "</tr>";
	}
	$("#tcarta").html(cararrhtml);

	/************ CARTAS ENVIADAS ***************/
	var cart = "<%= arrcartg %>";
	var arrcarts = new Array();
	arrcarts = cart.split('|');
	var arrcartsint = new Array()
	for(i=0; i < arrcarts.length; i++){
		arrcartsint[i] = parseInt(arrcarts[i]);
	}

	/****** Respuestas tabla ********/
	var	resarrhtml = "";
	var resarr = "<%= resarr %>";
	var miresarr = new Array();
	miresarr = resarr.split('|');
	pyu= parseInt("<%= yu %>");

	var semanas2 = "<%= arrsemanas %>";
	var arrsemanas2 = new Array();
	arrsemanas2 = semanas2.split('|');
	resarrhtml = resarrhtml + "<tr>";
	resarrhtml = resarrhtml + "<th>Utente</th>";
	for(i=0; i < arrsemanas2.length; i++){
		resarrhtml = resarrhtml + "<th>";
		resarrhtml = resarrhtml + "S " + String(12 - i);
		resarrhtml = resarrhtml + "</th>";
	}
	resarrhtml = resarrhtml + "</tr>";

	for(t=0; t < pyu; t++){
		resarrhtml = resarrhtml + "<tr>";
		for(i=0; i < miresarr.length; i++){
			var miresarr2 = new Array();
			miresarr2 = miresarr[i].split('*');
			resarrhtml = resarrhtml + "<td>";
			resarrhtml = resarrhtml + miresarr2[t];
			resarrhtml = resarrhtml + "</td>";
		}
		resarrhtml = resarrhtml + "</tr>";
	}
	$("#trespuesta").html(resarrhtml);

	/************ CARTAS RECIBIDAS ***************/
	var resp = "<%= arrespg %>";
	var arrresps = new Array();
	arrresps = resp.split('|');
	var arrrespsint = new Array()
	for(i=0; i < arrresps.length; i++){
		arrrespsint[i] = parseInt(arrresps[i]);
	}

	/****** Proyectos tabla ********/
	var	proyarrhtml = "";
	var proyarr = "<%= proyarr %>";
	var miproyarr = new Array();
	miproyarr = proyarr.split('|');
	pyu= parseInt("<%= yu %>")

	var semanas2 = "<%= arrsemanas %>";
	var arrsemanas2 = new Array();
	arrsemanas2 = semanas2.split('|');
	proyarrhtml = proyarrhtml + "<tr>";
	proyarrhtml = proyarrhtml + "<th>Utente</th>";
	for(i=0; i < arrsemanas2.length; i++){
		proyarrhtml = proyarrhtml + "<th>";
		proyarrhtml = proyarrhtml + "S " + String(12 - i);
		proyarrhtml = proyarrhtml + "</th>";
	}
	proyarrhtml = proyarrhtml + "</tr>";

	for(t=0; t < pyu; t++){
		proyarrhtml = proyarrhtml + "<tr>";
		for(i=0; i < miproyarr.length; i++){
			var miproyarr2 = new Array();
			miproyarr2 = miproyarr[i].split('*');
			proyarrhtml = proyarrhtml + "<td>";
			proyarrhtml = proyarrhtml + miproyarr2[t];
			proyarrhtml = proyarrhtml + "</td>";
		}
		proyarrhtml = proyarrhtml + "</tr>";
	}
	$("#tproyecto").html(proyarrhtml);

	/************ PROYECTOS FINALIZADOS ***************/
	var proy = "<%= arrproyg %>";
	var arrproys = new Array();
	arrproys = proy.split('|');
	var arrproysint = new Array()
	for(i=0; i < arrproys.length; i++){
		arrproysint[i] = parseInt(arrproys[i]);
	}


	/****** Objetivo tabla ********/
	var	objarrhtml = "";
	var objarr = "<%= objarr %>";
	var miobjarr = new Array();
	miobjarr = objarr.split('|');
	pyu= parseInt("<%= yu %>");

	var semanas2 = "<%= arrsemanas %>";
	var arrsemanas2 = new Array();
	arrsemanas2 = semanas2.split('|');
	objarrhtml = objarrhtml + "<tr>";
	objarrhtml = objarrhtml + "<th>Utente</th>";
	for(i=0; i < arrsemanas2.length; i++){
		objarrhtml = objarrhtml + "<th>";
		objarrhtml = objarrhtml + "S " + String(12 - i);
		objarrhtml = objarrhtml + "</th>";
	}
	objarrhtml = objarrhtml + "</tr>";

	for(t=0; t < pyu; t++){
		objarrhtml = objarrhtml + "<tr>";
		for(i=0; i < miobjarr.length; i++){
			var miobjarr2 = new Array();
			//alert(miobjarr[i]);
			miobjarr2 = miobjarr[i].split('*');
			objarrhtml = objarrhtml + "<td>";
			objarrhtml = objarrhtml + miobjarr2[t];
			objarrhtml = objarrhtml + "</td>";
		}
		objarrhtml = objarrhtml + "</tr>";
	}
	$("#tobjetivo").html(objarrhtml);

	/************ OBJETIVOS HECHOS ***************/
	var obj = "<%= arrobjg %>";
	var arrobjs = new Array();
	arrobjs = obj.split('|');
	var arrobjsint = new Array()
	for(i=0; i < arrobjs.length; i++){
		arrobjsint[i] = parseInt(arrobjs[i]);
	}

	//alert(semanas);
    $('#container1').highcharts({
        chart: {
            type: 'spline'
        },
        title: {
            text: 'Prospetti inseriti'
        },
   xAxis: { gridLineWidth: 1,
   			labels: {
   				rotation: -45,
            	style: {
	                fontSize: '10px',
	                fontFamily: 'Verdana, sans-serif',
	                fontWeight: 'bold'
	            }
   			},
            categories: arrsemanas/*,
            labels: {
                    rotation: -60
                }
*/
        },
         yAxis: {
        	min: 0,
            title: {
                text: 'Prospettive'
            }
        },
        series: [{
            showInLegend: false,
            name: 'Settimane',
            data: arrprosint,
            color: '#000',
        }]
    });
    $('#container2').highcharts({
        chart: {
            type: 'spline'
        },
        title: {
            text: 'Chiamate fatte'
        },
   xAxis: { gridLineWidth: 1,
   			labels: {
   				rotation: -45,
            	style: {
	                fontSize: '10px',
	                fontFamily: 'Verdana, sans-serif',
	                fontWeight: 'bold'
	            }
   			},
            categories: arrsemanas
        },
         yAxis: {
        	min: 0,
            title: {
                text: 'Chiamate'
            }
        },
        series: [{
        	showInLegend: false,
            name: 'Settimane',
            data: arrllamsint,
            color: '#000'
        }]
    });

    $('#container3').highcharts({
        chart: {
            type: 'spline'
        },
        title: {
            text: 'Promemorie scadute'
        },
   xAxis: { gridLineWidth: 1,
   			labels: {
   				rotation: -45,
            	style: {
	                fontSize: '10px',
	                fontFamily: 'Verdana, sans-serif',
	                fontWeight: 'bold'
	            }
   			},
            categories: arrsemanas
        },
         yAxis: {
        	min: 0,
            title: {
                text: 'Promemoria'
            }
        },
        series: [{
        	showInLegend: false,
            name: 'Settimane',
            data: arrrecvsint,
            color: '#000'
        }]
    });

      $('#container4').highcharts({
        chart: {
            type: 'spline'
        },
        title: {
            text: 'Lettere spedite'
        },
   xAxis: { gridLineWidth: 1,
   			labels: {
   				rotation: -45,
            	style: {
	                fontSize: '10px',
	                fontFamily: 'Verdana, sans-serif',
	                fontWeight: 'bold'
	            }
   			},
            categories: arrsemanas
        },
         yAxis: {
        	min: 0,
            title: {
                text: 'Lettere'
            }
        },
        series: [{
        	showInLegend: false,
            name: 'Settimane',
            data: arrcartsint,
            color: '#000'
        }]
    });

      $('#container5').highcharts({
        chart: {
            type: 'spline'
        },
        title: {
            text: 'Lettere risposte'
        },
   xAxis: { gridLineWidth: 1,
   			labels: {
   				rotation: -45,
            	style: {
	                fontSize: '10px',
	                fontFamily: 'Verdana, sans-serif',
	                fontWeight: 'bold'
	            }
   			},
            categories: arrsemanas
        },
         yAxis: {
        	min: 0,
            title: {
                text: 'Risposte'
            }
        },
        series: [{
        	showInLegend: false,
            name: 'Settimane',
            data: arrrespsint,
            color: '#000'
        }]
    });

      $('#container6').highcharts({
        chart: {
            type: 'spline'
        },
        title: {
            text: 'Progetti conclusi'
        },
   xAxis: { gridLineWidth: 1,
   			labels: {
   				rotation: -45,
            	style: {
	                fontSize: '10px',
	                fontFamily: 'Verdana, sans-serif',
	                fontWeight: 'bold'
	            }
   			},
            categories: arrsemanas
        },
         yAxis: {
        	min: 0,
            title: {
                text: 'Progetti'
            }
        },
        series: [{
        	showInLegend: false,
            name: 'Settimane',
            data: arrproysint,
            color: '#000'
        }]
    });

      $('#container7').highcharts({
        chart: {
            type: 'spline'
        },
        title: {
            text: 'Obiettivi fatti'
        },
   xAxis: { gridLineWidth: 1,
   			labels: {
   				rotation: -45,
            	style: {
	                fontSize: '10px',
	                fontFamily: 'Verdana, sans-serif',
	                fontWeight: 'bold'
	            }
   			},
            categories: arrsemanas
        },
         yAxis: {
        	min: 0,
            title: {
                text: 'Obiettivi'
            }
        },
        series: [{
        	showInLegend: false,
            name: 'Settimane',
            data: arrobjsint,
            color: '#000'
        }]
    });


});


function mostrarpr(){
	$("#tprospecto").toggle("slow");
}

function mostrarll(){
	$("#tllamada").toggle("slow");
}

function mostrarrec(){
	$("#trecordatorio").toggle("slow");
}

function mostrarcart(){
	$("#tcarta").toggle("slow");
}

function mostrarresp(){
	$("#trespuesta").toggle("slow");
}

function mostrarproy(){
	$("#tproyecto").toggle("slow");
}

function mostrarobj(){
	$("#tobjetivo").toggle("slow");
}
</script>
<div class="panel-heading" id="panel-heading-sep">Statistica globale</div>

<div id="container1" align="center" style="width:90%; height:400px;"></div>
<div style="width:90%;"><p align="center"><a onclick="return mostrarpr();" class='btn btn-primary btn-sm'>BreakDown</a></p></div>
<table id="tprospecto" style="width:90%; display:none;" class="table table-striped">
</table>
<hr>
<div id="container2" align="center" style="width:90%; height:400px;"></div>
<div style="width:90%;"><p align="center"><a onclick="return mostrarll();" class='btn btn-primary btn-sm'>BreakDown</a></p></div>
<table id="tllamada" style="width:90%; display:none;" class="table table-striped">
</table>
<hr>
<div id="container3" align="center" style="width:90%; height:400px;"></div>
<div style="width:90%;"><p align="center"><a onclick="return mostrarrec();" class='btn btn-primary btn-sm'>BreakDown</a></p></div>
<table id="trecordatorio" style="width:90%; display:none;" class="table table-striped">
</table>
<hr>
<div id="container4" align="center" style="width:90%; height:400px;"></div>
<div style="width:90%;"><p align="center"><a onclick="return mostrarcart();" class='btn btn-primary btn-sm'>BreakDown</a></p></div>
<table id="tcarta" style="width:90%; display:none;" class="table table-striped">
</table>
<hr>
<div id="container5" align="center" style="width:90%; height:400px;"></div>
<div style="width:90%;"><p align="center"><a onclick="return mostrarresp();" class='btn btn-primary btn-sm'>BreakDown</a></p></div>
<table id="trespuesta" style="width:90%; display:none;" class="table table-striped">
</table>
<hr>
<div id="container6" align="center" style="width:90%; height:400px;"></div>
<div style="width:90%;"><p align="center"><a onclick="return mostrarproy();" class='btn btn-primary btn-sm'>BreakDown</a></p></div>
<table id="tproyecto" style="width:90%; display:none;" class="table table-striped">

<div id="container7" align="center" style="width:90%; height:400px;"></div>
<div style="width:90%;"><p align="center"><a onclick="return mostrarobj();" class='btn btn-primary btn-sm'>BreakDown</a></p></div>
<table id="tobjetivo" style="width:90%; display:none;" class="table table-striped">
</table>
