<%
fecha = Time.now
#	fecha = DateTime.parse("2014-04-17 22:30:14")
#	formatted_date = fecha.strftime('%a %b %d %H:%M:%S %Z %Y')
dweek = fecha.strftime("%w")
	case dweek.to_s
	when "5"
		rest = 24
	when "6"
		rest = 48
	when "0"
		rest = 72
	when "1"
		rest = 96
	when "2"
		rest = 120
	when "3"
		rest = 144
	when "4"
		rest = 168
	end

	if dweek.to_s == "4" and fecha.hour >= 14
		day = fecha
	else
		day = fecha - rest.hours
	end
	anio = day.year.to_s
	mes = day.month.to_s
	if day.month < 10
		mes = "0" + mes
	end
	dia = day.day.to_s
#	if day.day < 10
#		dia = "0" + mes
#	end

	fechadef = DateTime.parse(anio + "-" + mes + "-" + dia + " 14:00:00")
	arrsemanas = ""
	arrpros = ""
	arrprosg = ""
	arrpro = ""
	arrllam = ""
	arrllamg = ""
	arrecv = ""
	arrecvg = ""
	arrcart = ""
	arrcartg = ""
	arresp = ""
	arrespg = ""
	arrproy = ""
	arrproyg = ""
	arrobj = ""
	arrobjg = ""

	usuarios = Usuario.all.order('nombre_completo ASC')

	parr = ""
	#parrc = ""
		usuarios.each do |usuario|
				parr = parr + usuario.nombre_usuario + "*";
		end
		parr = parr + "|"
	i = 11
	y = 0
	while i > 0
		fechadefb = fechadef - (168*i).hours
		fechadefa = fechadef - (168*(i-1)).hours
		usuarios.each do |usuario|
			nprosto = Prospecto.where("created_at >= ? AND created_at <= ? AND usuario_id = ?",fechadefb.to_formatted_s(:db),fechadefa.to_formatted_s(:db),usuario.id).count.to_s
				parr = parr + nprosto + "*";
		end
		parr = parr + "|"
		npros = Prospecto.where("created_at >= ? AND created_at <= ? AND usuario_id = ?",fechadefb.to_formatted_s(:db),fechadefa.to_formatted_s(:db),session[:usuario_id]).count.to_s
		nprosg = Prospecto.where("created_at >= ? AND created_at <= ?",fechadefb.to_formatted_s(:db),fechadefa.to_formatted_s(:db)).count.to_s
		nllam = NotaTelefonicas.where("fecha >= ? AND fecha <= ? AND usuario_id = ?",fechadefb.to_formatted_s(:db),fechadefa.to_formatted_s(:db),session[:usuario_id]).count.to_s
		nllamg = NotaTelefonicas.where("fecha >= ? AND fecha <= ?",fechadefb.to_formatted_s(:db),fechadefa.to_formatted_s(:db)).count.to_s
		nrecv = NotaTelefonicas.where("fecha_recordatorio >= ? AND fecha_recordatorio <= ? AND usuario_id = ? AND visitado = FALSE",fechadefb.to_formatted_s(:db),fechadefa.to_formatted_s(:db),session[:usuario_id]).count.to_s
		nrecvg = NotaTelefonicas.where("fecha_recordatorio >= ? AND fecha_recordatorio <= ? AND visitado = FALSE",fechadefb.to_formatted_s(:db),fechadefa.to_formatted_s(:db)).count.to_s
		ncart = Carta.where("fecha >= ? AND fecha <= ? AND usuario_id = ?",fechadefb.to_formatted_s(:db),fechadefa.to_formatted_s(:db),session[:usuario_id]).count.to_s
		ncartg = Carta.where("fecha >= ? AND fecha <= ? ",fechadefb.to_formatted_s(:db),fechadefa.to_formatted_s(:db)).count.to_s
		nresp = Carta.where("fecha >= ? AND fecha <= ? AND usuario_id = ? AND respuesta = TRUE",fechadefb.to_formatted_s(:db),fechadefa.to_formatted_s(:db),session[:usuario_id]).count.to_s
		nrespg = Carta.where("fecha >= ? AND fecha <= ? AND respuesta = TRUE",fechadefb.to_formatted_s(:db),fechadefa.to_formatted_s(:db)).count.to_s
		nproy = Proyecto.find_by_sql(["SELECT DISTINCT proy.* FROM proyectos proy, objetivos obj WHERE NOT EXISTS (SELECT * FROM objetivos obj2 WHERE obj2.proyecto_id = proy.id AND obj2.estado_id = 1) AND NOT EXISTS (SELECT * FROM objetivos obj2 WHERE obj2.proyecto_id = proy.id AND obj2.fecha_fin > ?) AND obj.proyecto_id = proy.id AND obj.fecha_fin >= ? AND obj.fecha_fin <= ? AND proy.usuario_id = ?",fechadefa.to_formatted_s(:db),fechadefb.to_formatted_s(:db),fechadefa.to_formatted_s(:db),session[:usuario_id]]).count.to_s
		nproyg = Proyecto.find_by_sql(["SELECT DISTINCT proy.* FROM proyectos proy, objetivos obj WHERE NOT EXISTS (SELECT * FROM objetivos obj2 WHERE obj2.proyecto_id = proy.id AND obj2.estado_id = 1) AND NOT EXISTS (SELECT * FROM objetivos obj2 WHERE obj2.proyecto_id = proy.id AND obj2.fecha_fin > ?) AND obj.proyecto_id = proy.id AND obj.fecha_fin >= ? AND obj.fecha_fin <= ?",fechadefa.to_formatted_s(:db),fechadefb.to_formatted_s(:db),fechadefa.to_formatted_s(:db)]).count.to_s
		nobj = Objetivo.find_by_sql(["SELECT DISTINCT obj.* FROM proyectos proy, objetivos obj WHERE obj.proyecto_id = proy.id AND obj.fecha_fin >= ? AND obj.fecha_fin <= ? AND proy.usuario_id = ? AND obj.estado_id = 2",fechadefb.to_formatted_s(:db),fechadefa.to_formatted_s(:db),session[:usuario_id]]).count.to_s
		formatted_dateb = fechadefb.strftime('%d/%m/%Y')
		formatted_datea = fechadefa.strftime('%d/%m/%Y')
		arrsemanas = arrsemanas + formatted_datea.to_s + " ( S#{i+1} )" + "|"
		arrpros = arrpros + npros + "|"
		arrprosg = arrprosg + nprosg + "|"
		arrllam = arrllam + nllam + "|"
		arrllamg = arrllamg + nllamg + "|"
		arrecv = arrecv + nrecv + "|"
		arrecvg = arrecvg + nrecvg + "|"
		arrcart = arrcart + ncart + "|"
		arrcartg = arrcartg + ncartg + "|"
		arresp = arresp + nresp + "|"
		arrespg = arrespg + nrespg + "|"
		arrproy = arrproy + nproy + "|"
		arrproyg = arrproyg + nproyg + "|"
		arrobj = arrobj + nobj + "|"
	  	i -= 1

	end
yu = 0
		usuarios.each do |usuario|
			nprosto = Prospecto.where("created_at >= ? AND usuario_id = ?",fechadef.to_formatted_s(:db),usuario.id).count.to_s
				parr = parr + nprosto + "*";
				yu +=1
		end

    nprosa = Prospecto.where("created_at >= ? AND usuario_id = ?",fechadef.to_formatted_s(:db),session[:usuario_id]).count.to_s
    nprosag = Prospecto.where("created_at >= ?",fechadef.to_formatted_s(:db)).count.to_s
    nllama = NotaTelefonicas.where("fecha >= ? AND usuario_id = ?",fechadef.to_formatted_s(:db),session[:usuario_id]).count.to_s
    nllamag = NotaTelefonicas.where("fecha >= ?",fechadef.to_formatted_s(:db)).count.to_s
    nrecva = NotaTelefonicas.where("fecha_recordatorio >= ? AND fecha_recordatorio <= ? AND usuario_id = ? AND visitado = FALSE",fechadef.to_formatted_s(:db), fecha.to_formatted_s(:db),session[:usuario_id]).count.to_s
   nrecvag = NotaTelefonicas.where("fecha_recordatorio >= ? AND fecha_recordatorio <= ? AND visitado = FALSE",fechadef.to_formatted_s(:db), fecha.to_formatted_s(:db)).count.to_s
	ncarta = Carta.where("fecha >= ? AND fecha <= ? AND usuario_id = ?",fechadef.to_formatted_s(:db),fecha.to_formatted_s(:db),session[:usuario_id]).count.to_s
	ncartag = Carta.where("fecha >= ? AND fecha <= ?",fechadef.to_formatted_s(:db),fecha.to_formatted_s(:db)).count.to_s
	nrespa = Carta.where("fecha >= ? AND fecha <= ? AND usuario_id = ? AND respuesta = TRUE",fechadef.to_formatted_s(:db),fecha.to_formatted_s(:db),session[:usuario_id]).count.to_s
	nrespag = Carta.where("fecha >= ? AND fecha <= ? AND respuesta = TRUE",fechadef.to_formatted_s(:db),fecha.to_formatted_s(:db)).count.to_s
	nproya = Proyecto.find_by_sql(["SELECT DISTINCT proy.* FROM proyectos proy, objetivos obj WHERE NOT EXISTS (SELECT * FROM objetivos obj2 WHERE obj2.proyecto_id = proy.id AND obj2.estado_id = 1) AND NOT EXISTS (SELECT * FROM objetivos obj2 WHERE obj2.proyecto_id = proy.id AND obj2.fecha_fin > ?) AND obj.proyecto_id = proy.id AND obj.fecha_fin >= ? AND obj.fecha_fin <= ? AND proy.usuario_id = ?",fecha.to_formatted_s(:db),fechadef.to_formatted_s(:db),fecha.to_formatted_s(:db),session[:usuario_id]]).count.to_s
	nproyag = Proyecto.find_by_sql(["SELECT DISTINCT proy.* FROM proyectos proy, objetivos obj WHERE NOT EXISTS (SELECT * FROM objetivos obj2 WHERE obj2.proyecto_id = proy.id AND obj2.estado_id = 1) AND NOT EXISTS (SELECT * FROM objetivos obj2 WHERE obj2.proyecto_id = proy.id AND obj2.fecha_fin > ?) AND obj.proyecto_id = proy.id AND obj.fecha_fin >= ? AND obj.fecha_fin <= ?",fecha.to_formatted_s(:db),fechadef.to_formatted_s(:db),fecha.to_formatted_s(:db)]).count.to_s
	nobja = Objetivo.find_by_sql(["SELECT DISTINCT obj.* FROM proyectos proy, objetivos obj WHERE obj.proyecto_id = proy.id AND obj.fecha_fin >= ? AND obj.fecha_fin <= ? AND proy.usuario_id = ? AND obj.estado_id = 2",fechadef.to_formatted_s(:db),fecha.to_formatted_s(:db),session[:usuario_id]]).count.to_s
	formatted_date = fechadef.strftime('%d/%m/%Y')
	formatted_dateb = fecha.strftime('%d/%m/%Y')
	arrsemanas = arrsemanas + formatted_dateb + " ( S#{i+1} )"
	arrpros = arrpros + nprosa
	arrprosg = arrprosg + nprosag
	arrllam = arrllam + nllama
	arrllamg = arrllamg + nllamag
	arrecv = arrecv + nrecva
	arrecvg = arrecvg + nrecvag
	arrcart = arrcart + ncarta
	arrcartg = arrcartg + ncartag
	arresp = arresp + nrespa
	arrespg = arrespg + nrespag
	arrproy = arrproy + nproya
	arrproyg = arrproyg + nproyag
	arrobj = arrobj + nobja

	yu
	%>
<script type="text/javascript">
$("#est").addClass("start active");
$(function () {
	/****** Prospectos tabla ********/
	var parrhtml = "";
	var parr = "<%= parr %>";
	var miparr = new Array();
	miparr = parr.split('|');
	pyu= parseInt("<%= yu %>")

	var semanas2 = "<%= arrsemanas %>";
	var arrsemanas2 = new Array();
	arrsemanas2 = semanas2.split('|');
	parrhtml = parrhtml + "<tr>";
	parrhtml = parrhtml + "<th></th>";
	for(i=0; i < arrsemanas2.length; i++){
		parrhtml = parrhtml + "<th>";
		parrhtml = parrhtml + "S " + String(12 - i);
		parrhtml = parrhtml + "</th>";
	}
	parrhtml = parrhtml + "</tr>";

	for(t=0; t < pyu; t++){
		parrhtml = parrhtml + "<tr>";
		for(i=0; i < miparr.length; i++){
			var miparr2 = new Array();
			miparr2 = miparr[i].split('*');
			parrhtml = parrhtml + "<td>";
			parrhtml = parrhtml + miparr2[t];
			parrhtml = parrhtml + "</td>";
		}
		parrhtml = parrhtml + "</tr>";
	}
	$("#tprospecto").html(parrhtml);
	var semanas = "<%= arrsemanas %>";
	var arrsemanas = new Array();
	arrsemanas = semanas.split('|');
	/************ PROSPECTOS POR SEMANA ***************/
	var pros = "<%= arrpros %>";
	var arrpros = new Array();
	arrpros = pros.split('|');
	var arrprosint = new Array()
	for(i=0; i < arrpros.length; i++){
		arrprosint[i] = parseInt(arrpros[i]);
	}
	/************ LLAMADAS REALIZADAS ***************/
	var llam = "<%= arrllam %>";
	var arrllams = new Array();
	arrllams = llam.split('|');
	var arrllamsint = new Array()
	for(i=0; i < arrllams.length; i++){
		arrllamsint[i] = parseInt(arrllams[i]);
	}
	/************ RECORDATORIOS VENCIDOS ***************/
	var recv = "<%= arrecv %>";
	var arrrecvs = new Array();
	arrrecvs = recv.split('|');
	var arrrecvsint = new Array()
	for(i=0; i < arrrecvs.length; i++){
		arrrecvsint[i] = parseInt(arrrecvs[i]);
	}
	/************ CARTAS ENVIADAS ***************/
	var cart = "<%= arrcart %>";
	var arrcarts = new Array();
	arrcarts = cart.split('|');
	var arrcartsint = new Array()
	for(i=0; i < arrcarts.length; i++){
		arrcartsint[i] = parseInt(arrcarts[i]);
	}
	/************ CARTAS RECIBIDAS ***************/
	var resp = "<%= arresp %>";
	var arrresps = new Array();
	arrresps = resp.split('|');
	var arrrespsint = new Array()
	for(i=0; i < arrresps.length; i++){
		arrrespsint[i] = parseInt(arrresps[i]);
	}
	/************ PROYECTOS FINALIZADOS ***************/
	var proy = "<%= arrproy %>";
	var arrproys = new Array();
	arrproys = proy.split('|');
	var arrproysint = new Array()
	for(i=0; i < arrproys.length; i++){
		arrproysint[i] = parseInt(arrproys[i]);
	}

	/************ OBJETIVOS HECHOS ***************/
	var obj = "<%= arrobj %>";
	var arrobjs = new Array();
	arrobjs = obj.split('|');
	var arrobjsint = new Array()
	for(i=0; i < arrobjs.length; i++){
		arrobjsint[i] = parseInt(arrobjs[i]);
	}

	//alert(semanas);
    $('#container1').highcharts({
        chart: {
            type: 'spline'
        },
        title: {
            text: 'Prospetti inseriti'
        },
   xAxis: { gridLineWidth: 1,
   			labels: {
   				rotation: -45,
            	style: {
	                fontSize: '10px',
	                fontFamily: 'Verdana, sans-serif',
	                fontWeight: 'bold'
	            }
   			},
            categories: arrsemanas/*,
            labels: {
                    rotation: -60
                }
*/
        },
         yAxis: {
        	min: 0,
            title: {
                text: 'Prospettive'
            }
        },
        series: [{
        	showInLegend: false,
            name: 'Settimane',
            data: arrprosint,
            color: '#000'
        }]
    });
    $('#container2').highcharts({
        chart: {
            type: 'spline'
        },
        title: {
            text: 'Chiamate fatte'
        },
   xAxis: { gridLineWidth: 1,
   			labels: {
   				rotation: -45,
            	style: {
	                fontSize: '10px',
	                fontFamily: 'Verdana, sans-serif',
	                fontWeight: 'bold'
	            }
   			},
            categories: arrsemanas
        },
         yAxis: {
        	min: 0,
            title: {
                text: 'Chiamate'
            }
        },
        series: [{
        	showInLegend: false,
            name: 'Settimane',
            data: arrllamsint,
            color: '#000'
        }]
    });

    $('#container3').highcharts({
        chart: {
            type: 'spline'
        },
        title: {
            text: 'Promemorie scadute'
        },
   xAxis: { gridLineWidth: 1,
   			labels: {
   				rotation: -45,
            	style: {
	                fontSize: '10px',
	                fontFamily: 'Verdana, sans-serif',
	                fontWeight: 'bold'
	            }
   			},
            categories: arrsemanas
        },
         yAxis: {
        	min: 0,
            title: {
                text: 'Promemoria'
            }
        },
        series: [{
        	showInLegend: false,
            name: 'Settimane',
            data: arrrecvsint,
            color: '#000'
        }]
    });

      $('#container4').highcharts({
        chart: {
            type: 'spline'
        },
        title: {
            text: 'Lettere spedite'
        },
   xAxis: { gridLineWidth: 1,
   			labels: {
   				rotation: -45,
            	style: {
	                fontSize: '10px',
	                fontFamily: 'Verdana, sans-serif',
	                fontWeight: 'bold'
	            }
   			},
            categories: arrsemanas
        },
         yAxis: {
        	min: 0,
            title: {
                text: 'Lettere'
            }
        },
        series: [{
        	showInLegend: false,
            name: 'Settimane',
            data: arrcartsint,
            color: '#000'
        }]
    });

      $('#container5').highcharts({
        chart: {
            type: 'spline'
        },
        title: {
            text: 'Lettere risposte'
        },
   xAxis: { gridLineWidth: 1,
   			labels: {
   				rotation: -45,
            	style: {
	                fontSize: '10px',
	                fontFamily: 'Verdana, sans-serif',
	                fontWeight: 'bold'
	            }
   			},
            categories: arrsemanas
        },
         yAxis: {
        	min: 0,
            title: {
                text: 'Risposte'
            }
        },
        series: [{
        	showInLegend: false,
            name: 'Settimane',
            data: arrrespsint,
            color: '#000'
        }]
    });

      $('#container6').highcharts({
        chart: {
            type: 'spline'
        },
        title: {
            text: 'Progetti conclusi'
        },
   xAxis: { gridLineWidth: 1,
   			labels: {
   				rotation: -45,
            	style: {
	                fontSize: '10px',
	                fontFamily: 'Verdana, sans-serif',
	                fontWeight: 'bold'
	            }
   			},
            categories: arrsemanas
        },
         yAxis: {
        	min: 0,
            title: {
                text: 'Progetti'
            }
        },
        series: [{
        	showInLegend: false,
            name: 'Settimane',
            data: arrproysint,
            color: '#000'
        }]
    });

      $('#container7').highcharts({
        chart: {
            type: 'spline'
        },
        title: {
            text: 'Obiettivi fatti'
        },
   xAxis: { gridLineWidth: 1,
   			labels: {
   				rotation: -45,
            	style: {
	                fontSize: '10px',
	                fontFamily: 'Verdana, sans-serif',
	                fontWeight: 'bold'
	            }
   			},
            categories: arrsemanas
        },
         yAxis: {
        	min: 0,
            title: {
                text: 'Obiettivi'
            }
        },
        series: [{
        	showInLegend: false,
            name: 'Settimane',
            data: arrobjsint,
            color: '#000'
        }]
    });

});
</script>
<div class="panel-heading" id="panel-heading-sep">Statistica individuale</div>

<div id="container1" align="center" style="width:90%; height:400px;"></div>
<hr>
<div id="container2" align="center" style="width:90%; height:400px;"></div>
<hr>
<div id="container3" align="center" style="width:90%; height:400px;"></div>
<hr>
<div id="container4" align="center" style="width:90%; height:400px;"></div>
<hr>
<div id="container5" align="center" style="width:90%; height:400px;"></div>
<hr>
<div id="container6" align="center" style="width:90%; height:400px;"></div>
<hr>
<div id="container7" align="center" style="width:90%; height:400px;"></div>

