<div class="panel-heading" id="panel-heading-sep">Elenco Status</div>

<div class="table-responsive">
<table class="table table-hover">
  <thead>
    <tr>
      <th>Nome</th>
      <th></th>
      <% if params[:permiso_edit] %><th></th><% end %>
      <% if params[:permiso_delete] %><th></th><% end %>
    </tr>
  </thead>

  <tbody>
    <% @estados.each do |estado| %>
      <tr>
        <td><%= estado.nombre %></td>
        <td><%= link_to content_tag(:span, '', class: 'glyphicon glyphicon-folder-open'), estado, title: 'Mostrare', id: "acciones" %></td>
        <% if params[:permiso_edit] %><td><%= link_to content_tag(:span, '', class: 'glyphicon glyphicon-edit'), edit_estado_path(estado), title: 'Modifica', id: "acciones" %></td><% end %>
        <% if params[:permiso_delete] %><td><%= link_to content_tag(:span, '', class: 'glyphicon glyphicon-remove'), estado, title: 'Eliminare', id: "acciones", method: :delete, data: { confirm: 'Sei sicuro?' } %></td><% end %>
      </tr>
    <% end %>
  </tbody>
  <tfoot>
    <tr>
      <td>Totale Status: <b><%= @cantidad %></b></td>
    </tr>
  </tfoot>
</table>
</div>
<br>
<div class="form-actions">
  <div class="row">
    <div class="col-md-8"><%= will_paginate @estados, renderer: BootstrapPagination::Rails, :previous_label => "<<", :next_label => ">>" %></div>
    <% if params[:permiso_new] %><div class="col-md-4"><p class="text-right"><%= link_to 'Nuovo Status', new_estado_path, class: 'btn btn-primary btn-sm', id: 'color-blanco' %></p></div><% end %>
  </div>
</div>
