<div class="panel-heading">
	<%= link_to content_tag(:span, '', class: 'glyphicon glyphicon-chevron-left'), estados_path, class: "lnk_back", title: 'Ritorno' %> &nbsp;&nbsp;
	Status dettagli <%= @estado.nombre %>
</div>
<div class="table-responsive">
<p>
  <strong>Nome:</strong>
  <%= @estado.nombre %>
</p>
<% if params[:permiso_edit] %><%= link_to 'Modifica', edit_estado_path(@estado), class: "btn btn-primary", id: "color-blanco" %><% end %>
</div>
