<%= form_for(@objetivo) do |f| %>
  <% if @objetivo.errors.any? %>
    <div id="error_explanation">
      <h2><%=raw t('errors.template.header', count: @objetivo.errors.count, model: "obiettivo") %></h2>

      <ul>
      <% @objetivo.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= hidden_field_tag "proy_id", params[:proyecto_id] %>
  <div class="field">
    <%= f.label :titulo, id:"color-etiq" %><br>
    <%= f.text_field :titulo %>
  </div>
  <div class="field">
    <%= f.label :cuerpo, id:"color-etiq" %><br>
    <%= f.text_area :cuerpo %>
  </div>
  <div class="field">
    <%= f.label :fecha_inicio, id:"color-etiq" %><br>
    <%= f.datetime_select :fecha_inicio %>
  </div>
  <div class="field">
    <%= f.label :fecha_fin, id:"color-etiq" %><br>
    <%= f.datetime_select :fecha_fin %>
  </div>
  <% if params[:action] == "new" %>
  <%= f.hidden_field :estado_id, value: "1" %>
  <% else %>
  <div class="field">
    <%= f.label :estado, id:"color-etiq" %><br>
    <%= f.collection_select :estado_id, Estado.all, :id, :nombre %>
  </div>
  <% end %>
<% if params[:proyecto_id].blank?%>
  <div class="field">
    <%= f.label :proyecto, id:"color-etiq" %><br>
    <%= f.collection_select :proyecto_id, Proyecto.all, :id, :nombre %>
  </div>
<% else %>
  <%= f.hidden_field :proyecto_id, value: params[:proyecto_id] %>
<% end %>
  <div class="actions">
    <%= f.submit t('.submit'), class: 'btn btn-default btn-md', id: 'btn-defecto' %>
  </div>
<% end %>
