<div class="panel-heading">
  <% if !params[:proyecto_id].blank?%>
    <%= link_to content_tag(:span, '', class: 'glyphicon glyphicon-chevron-left'), obj_proyecto_path(proyecto_id: params[:proyecto_id]), class: "lnk_back", title: 'Ritorno' %> &nbsp;&nbsp;
  <% else %>
    <%= link_to content_tag(:span, '', class: 'glyphicon glyphicon-chevron-left'), objetivos_path, class: "lnk_back", title: 'Ritorno' %> &nbsp;&nbsp;
  <% end %>
	Modifica Obiettivo
</div>
<div class="table-responsive">
<%= render 'form' %>
<% if !params[:proyecto_id].blank?%>
<%= link_to 'Mostrare', @objetivo, proyecto_id: params[:proyecto_id], class: "btn btn-primary", id: "color-blanco" %>
<% else %>
<%= link_to 'Mostrare', @objetivo, class: "btn btn-primary", id: "color-blanco" %>
<% end %>

</div>
