<div class="panel-heading" id="panel-heading-sep">Elenco Obiettivi</div>

<div class="table-responsive">
<table class="table table-hover">
  <thead>
    <tr>
      <td>Status</td>
      <td>Titolo</td>
      <td>Corpo</td>
      <td>Data inizio</td>
      <td>Data fine</td>
      <td>Progetto</td>
      <td></td>
      <% if params[:permiso_edit] %><th></th><% end %>
      <% if params[:permiso_delete] %><th></th><% end %>
    </tr>
  </thead>

  <tbody>
    <% @objetivos.each do |objetivo| %>
      <tr>
        <% if objetivo.fecha_fin < Time.now and objetivo.estado.id != 2 %>
          <td><button type="button" class="btn btn-danger btn-sm">Ritardato</button></td>
        <% else %>
          <% if objetivo.estado.id = 1 %>
            <td><button type="button" class="btn btn-success btn-sm"><%= objetivo.estado.nombre %></button></td>
          <% else %>
            <td><button type="button" class="btn btn-primary btn-sm"><%= objetivo.estado.nombre %></button></td>
          <% end %>
        <% end %>
        <td><%= objetivo.titulo %></td>
        <td><%= objetivo.cuerpo %></td>
        <td><%= objetivo.fecha_inicio %></td>
        <td><%= objetivo.fecha_fin %></td>
        <td><%= objetivo.proyecto.nombre %></td>
        <td><%= link_to content_tag(:span, '', class: 'glyphicon glyphicon-folder-open'), objetivo, title: 'Mostrare', id: "acciones" %></td>
        <% if params[:permiso_edit] %><td><%= link_to content_tag(:span, '', class: 'glyphicon glyphicon-edit'), edit_objetivo_path(objetivo), title: 'Modifica', id: "acciones" %></td><% end %>
        <% if params[:permiso_delete] %><td><%= link_to content_tag(:span, '', class: 'glyphicon glyphicon-remove'), objetivo, title: 'Eliminare', id: "acciones", method: :delete, data: { confirm: 'Sei sicuro?' } %></td><% end %>
      </tr>
    <% end %>
  </tbody>
  <tfoot>
    <tr>
      <td>Totale Obiettivi: <b><%= @cantidad %></b></td>
    </tr>
  </tfoot>
</table>
</div>
<br>
  <div class="row">
        <% if params[:permiso_new] %><div class="col-md-2"><%= link_to 'Nuovo Obiettivo', new_objetivo_path, class: 'btn btn-primary btn-sm', id: 'color-blanco' %></div><% end %>
    <div class="col-md-10"><%= will_paginate @objetivos, renderer: BootstrapPagination::Rails, :previous_label => "<<", :next_label => ">>" %></div>

  </div>
