<div class="panel-heading">
  <% if !params[:proyecto_id].blank?%>
    <%= link_to content_tag(:span, '', class: 'glyphicon glyphicon-chevron-left'), obj_proyecto_path(proyecto_id: params[:proyecto_id]), class: "lnk_back", title: 'Ritorno' %> &nbsp;&nbsp;
  <% else %>
    <%= link_to content_tag(:span, '', class: 'glyphicon glyphicon-chevron-left'), objetivos_path, class: "lnk_back", title: 'Ritorno' %> &nbsp;&nbsp;
  <% end %>
  Obiettivo dettagli <%= @objetivo.titulo %>
</div>
<div class="table-responsive">
<p>
  <strong>Titolo:</strong>
  <%= @objetivo.titulo %>
</p>

<p>
  <strong>Corpo:</strong>
  <%= @objetivo.cuerpo %>
</p>

<p>
  <strong>Data inizio:</strong>
  <%= @objetivo.fecha_inicio %>
</p>

<p>
  <strong>Data fine:</strong>
  <%= @objetivo.fecha_fin %>
</p>

<p>
  <strong>Status:</strong>
  <%= @objetivo.estado.nombre %>
</p>

<p>
  <strong>Progetto:</strong>
  <%= @objetivo.proyecto.nombre %>
</p>
<% if !params[:proyecto_id].blank?%>
  <% if params[:permiso_edit] %><%= link_to 'Modifica', edit_objetivo_path(@objetivo, proyecto_id: params[:proyecto_id]), class: "btn btn-primary", id: "color-blanco" %><% end %>
<% else %>
  <% if params[:permiso_edit] %><%= link_to 'Modifica', edit_objetivo_path(@objetivo), class: "btn btn-primary", id: "color-blanco" %><% end %>
<% end %>
</div>
