	<script type='text/javascript'>
	$("#calr").addClass("start active");
	$(document).ready(function() {

		var date = new Date();
		var d = date.getDate();
		var m = date.getMonth();
		var y = date.getFullYear();

		$('#calendar').fullCalendar({
			buttonText: {
			    today: 'Oggi',
			    day: 'Giorno',
			    week:'Settimana',
			    month:'Mese'
			},
			monthNames:['Gennaio','Febbraio','Marzo','Aprile','Maggio','Giugno','Luglio','Agosto','Settembre','Ottobre','Novembre','Dicembre'],
			monthNamesShort:['genn.','febbr.','mar.','apr.','magg.','giugno','luglio.','ag.','sett.','ott.','nov.','dic.'],
			dayNames: ['Domenica','Lunedì','Martedì','Mercoledì','Giovedì','Venerdì','Sabato'],
			dayNamesShort: ['Do.', 'Lun.', 'Mar.', 'Mer.', 'Gio.', 'Ven.', 'Sab.'],
			header: {
				left: 'prev,next today',
				center: 'title',
				right: 'month,agendaWeek,agendaDay'
			},
			draggable: false,
		//	eventColor: '#8B0000',
		    eventClick: function(event) {
		        window.location.href = '../notas_telefonicas/'+event.idnota+'?cal=1;prospecto='+event.prospecto;
		    },
            eventRender: function(event, element, calEvent) {
            	element.find(".fc-event-title").before($("<span class=\"fc-event-icons\"></span>").html('<span class="glyphicon glyphicon-earphone" />'));
        	}
		});

	<% @nota_telf.each do |nota| %>

		//alert("<%= nota.fecha_recordatorio.to_formatted_s(:db) %>");
		var myEvent = {
		  idnota: '<%= nota.id %>',
		  prospecto: '<%= nota.prospecto.id %>',
		  title: '\nProspetto: '+'<%= nota.prospecto.apellido_nombre %>\n'+'Nota: '+'<%= nota.nota_descripcion %>',
		  allDay: true,
		  <% if !nota.visitado && nota.fecha_recordatorio.to_formatted_s(:db) <= Time.now.to_formatted_s(:db) %>
		  color: '#ad2121',
		  <% elsif nota.visitado && nota.fecha_recordatorio.to_formatted_s(:db) <= Time.now.to_formatted_s(:db) %>
		  color: '#faa732',
		  <% end %>
		  start: '<%= nota.fecha_recordatorio.to_formatted_s(:db) %>',
		  end: '<%= nota.fecha_recordatorio.to_formatted_s(:db) %>'
		};
		$('#calendar').fullCalendar( 'renderEvent', myEvent );

	<% end %>
	});

	</script>
	<div class="panel-heading" id="panel-heading-sep">Calendario Promemoria</div>
	<div id='calendar'></div>
</div>


