
	<!-- BEGIN SIDEBAR -->
		<div class="page-sidebar navbar-collapse collapse">
			<!-- add "navbar-no-scroll" class to disable the scrolling of the sidebar menu -->
			<!-- BEGIN SIDEBAR MENU -->
			<ul class="page-sidebar-menu" data-auto-scroll="true" data-slide-speed="200">

        <% menus = Menu.find_by_sql(["Select m.* FROM menus m, permisologias_menu p WHERE p.permiso = true AND p.menu_id = m.id AND p.rol_id = ? ORDER BY m.id",session[:rol_id]]) %>
        <% menus.each do |menu| %>
          <li id='<%= menu.id_li_menu%>'>
            <%= link_to content_tag(:span, " "+menu.span_menu, class: menu.class_menu), eval("#{menu.path_menu}") %>
          </li>
        <% end %>
			</ul>
			<!-- END SIDEBAR MENU -->
		</div>
	<!-- END SIDEBAR -->

