<%# navigation styled for Bootstrap 3.0 %>
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="navbar-left">
    <div class="navbar-brand">
      <%= link_to content_tag(:span, ' Home', class: 'glyphicon glyphicon-home'), admin_path, class: 'lnk_back', style: ' border-right: 1px solid #DDDDDD !important; padding:15px 70px 14px 50px;' %>
      </div>
  </div>

  <% if session[:usuario_id] %>
  <div class="navbar-right">
     <!--  <div class="navbar-brand"> -->
        <ul class="nav navbar-nav">
          <li>
            <a href="" style='border-left: 1px solid #DDDDDD !important; border-right: 1px solid #DDDDDD !important; color:#3d3d3d;', class= 'lnk_back'><span class="glyphicon glyphicon-user">&nbsp;<%= session[:nombre_usuario].to_s + " - #{session[:nombre_completo]}" %></span></a>
          </li>
          <% configuraciones = Configuracion.find_by_sql(["Select c.* FROM configuraciones c, permisologia_configuraciones p WHERE p.permiso = true AND p.configuracion_id = c.id AND p.rol_id = ? ORDER BY c.id",session[:rol_id]]) %>

          <% if configuraciones.count != 0 %>
          <li>
              <div class="navbar-brand"><button type="button dropdown-toggle" data-toggle="dropdown" style='border:none; background:none;'>
                <a><span class="glyphicon glyphicon-wrench"></span></a>
              </button>
                <ul class="dropdown-menu" role="menu">
                  <% configuraciones.each do |configuracion| %>
                    <li><%= link_to  configuracion.nombre_configuracion, eval("#{configuracion.path_configuracion}") %></li>
                  <% end %>
                </ul></div>
          </li>
          <% end %>
          <li>
            <%= link_to content_tag(:span, '', class: 'glyphicon glyphicon-log-out'), logout_path, method: :delete, class: 'lnk_back', style: ' border-left: 1px solid #DDDDDD !important; color:#3d3d3d;' %>

            <% end %>
          </li>
        </ul>
      <!-- </div> -->
  </div>
</nav>
