<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Rrhh" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Rrhh" %>">
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>


  </head>
  <body class="<%= controller.controller_name %>">
  <div id="wrapper">
    <div id="header">
      <% if session[:usuario_id] %><%= render 'layouts/navigation' %><% end %>
    </div>
    <div id="main">
       <div class="row">
  		  <div class="col-md-2">
          <div style=" top:75px; bottom:0px; position:fixed;">
  		  	<%= render 'layouts/menulateral' %>
          </div>
  		  </div>
  		  <div class="col-md-10" style="background: #ffffff;">
          <%= render 'layouts/messages' %>
          <%= yield %>
  		  </div>
	     </div>
    </div>

    <nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
      <div class="navbar-text navbar-left"><p class="text-center"><span class="glyphicon glyphicon-copyright-mark"> Copyright 2014, Todos los derechos reservados.</p></div>
    </nav>
  </div>
 </body>
</html>
