<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Rrhh" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Rrhh" %>">
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  <body class="<%= controller.controller_name %>" style="background-color:#555555;">

       <%= render 'layouts/messages' %>
       <div class="row" style="margin-top:10%;">
        <div class="col-md-4"></div>
  		  <div class="col-md-4" style="background-color:#FFFFFF;">
  		  	  <%= yield %>
  		  </div>
        <div class="col-md-4"></div>
	     </div>

<!--     <div id="footer">
      <div class="container">
        <p class="text-center" id="color-blanco"><span class="glyphicon glyphicon-copyright-mark"> Copyright 2014, Todos los derechos reservados.</p>
      </div>
    </div> -->
  </body>
</html>
