<script type="text/javascript">
function mostrar_ocultar(){
  if($("#nota_telefonicas_recordatorio").is(':checked')){
    $("#fecha_recordatorio_dv").show();
  } else {
    $("#fecha_recordatorio_dv").hide();
  }
}
</script>
<% unless params[:prospecto].blank? %>
  <%= ProspectoDetail params[:prospecto] %>
<% end %>
<%= form_for(@nota_telefonicas) do |f| %>
  <%
    prospecto_au = ""
    prospecto_id = ""
    unless @nota_telefonicas.prospecto.blank?
      prospecto_au = @nota_telefonicas.prospecto.apellido_nombre
      prospecto_id = @nota_telefonicas.prospecto.id
    end
  %>
  <% if @nota_telefonicas.errors.any? %>
    <div id="error_explanation">
      <h2><%=raw t('errors.template.header', count: @nota_telefonicas.errors.count, model: "nota telefonica") %></h2>
      <ul>
      <% @nota_telefonicas.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= hidden_field_tag "prosp", params[:prospecto] %>
  <div class="row">
    <div class="col-xs-4">
    <% if params[:action] == "new" %>
      <%= f.hidden_field(:usuario_id,  class:"form-control", value: session[:usuario_id] ) %>
    <% else %>
      <%= f.label :usuario %>: <%= f.label Usuario.find_by(id: @nota_telefonicas.usuario_id).nombre_completo %><br>
      <%= f.hidden_field :usuario_id, value: @nota_telefonicas.usuario_id %>
    <% end %>
    </div>
  </div>
  <% if params[:prospecto].blank? %>
  <div class="row">
    <div class="col-xs-4">
      <%= f.label :prospecto, id:"color-etiq" %><br>
      <%= autocomplete_field_tag "prospecto_au",prospecto_au , autocomplete_prospecto_apellido_prospectos_path, :update_elements => {:id => "#nota_telefonicas_prospecto_id" },:placeholder => "Inserisci prospetto", :size => 75, class: 'form-control' %>
      <%= f.hidden_field(:prospecto_id, value: prospecto_id,  class:"form-control") %>
    </div>
  </div>
  <% else %>
    <%= f.hidden_field(:prospecto_id, value: params[:prospecto],  class:"form-control") %>
  <% end %>

  <div class="row">
    <div class="col-xs-6">
    <%= f.label :fecha, id:"color-etiq" %><br>
    <%= f.datetime_select :fecha,  class:"form-control" %>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-5">
    <%= f.label :nota_descripcion, id:"color-etiq" %><br>
    <%= f.text_area :nota_descripcion,  rows: 4, class:"form-control" %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-1">
    <%= f.label :recordatorio, id:"color-etiq" %><br>
    <%= f.check_box :recordatorio,  onclick: "mostrar_ocultar();" %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-5" id="fecha_recordatorio_dv">
    <%= f.label :fecha_recordatorio, id:"color-etiq" %><br>
    <%= f.datetime_select :fecha_recordatorio %>
    <%= f.hidden_field(:visitado, value: "false") %>
    </div>
  </div>
    <br>
  <div class="actions">
    <%= f.submit t('.submit'), class: 'btn btn-default btn-md', id: 'btn-defecto' %>
  </div>

<% end %>
<script type="text/javascript">
  mostrar_ocultar();
</script>
