<script>
$("#ntlf").addClass("start active");
</script>
<div class="panel-heading">
<% if params[:prospecto].blank? %>
	<%= link_to content_tag(:span, '', class: 'glyphicon glyphicon-chevron-left'), notas_telefonicas_path, class: "lnk_back",title: 'Ritorno' %> &nbsp;&nbsp;
<% else %>
	<%= link_to content_tag(:span, '', class: 'glyphicon glyphicon-chevron-left'), notas_telefonicas_path(prospecto: params[:prospecto]), class: "lnk_back",title: 'Ritorno' %> &nbsp;&nbsp;
<% end %>
	Modifica Nota Telefonica</div>
<div class="table-responsive">
<%= render 'form' %>
<% if params[:prospecto].blank? %>
<%= link_to 'Mostrare', @nota_telefonicas, class: "btn btn-primary", id: "color-blanco" %>
<% else %>
<%= link_to 'Mostrare', notas_telefonicas_path(@nota_telefonicas ,prospecto: params[:prospecto]) , class: "btn btn-primary", id: "color-blanco" %>
<% end %>
</div>
