<%
  prospecto_au = ""
  unless params[:prospecto].blank?
    prospecto_au = Prospecto.find_by(id: params[:prospecto]).apellido_nombre
  end
%>
<script>
$("#ntlf").addClass("start active");
</script>
<div class="panel-heading" id="panel-heading-sep">Elenco Note Telefoniche
  <div class="row">
  <br>
  <%= form_tag("/notas_telefonicas", method: "get") do %>
    <div class="col-md-4"><%=autocomplete_field_tag "prospecto_au", prospecto_au, autocomplete_prospecto_apellido_notas_telefonicas_path, :update_elements => {:id => '#prospecto' }, :placeholder => "Inserisci prospetto", :size => 75, class: 'form-control' %></div>
    <%= hidden_field_tag "prospecto",params[:prospecto] %>
    <div class="col-md-8"><%= submit_tag "Ricerca", class: "btn btn-success btn-md" %>
    <% unless params[:prospecto].blank? %>&nbsp<%= submit_tag "X", class: "btn btn-danger btn-md" %><% end %></div>
  <% end %>
  </div>
</div>

<% if @notas_telefonicas.count.zero? %>

  <div class="panel-heading" id="panel-heading-sep">
    <center><label id="color-etiq">nessuna nota telefonica da visualizzare</label></center>
  </div>
  <br>

    <div class="row">

      <% if params[:permiso_new] %>
          <% if params[:prospecto].blank? %>
          <div class="col-md-2"><%= link_to 'Nuova Nota Telefonica', new_nota_telefonicas_path, class: 'btn btn-primary btn-sm', id: 'color-blanco' %></div>
          <% else %>
          <div class="col-md-2"><%= link_to 'Nuova Nota Telefonica', new_nota_telefonicas_path(prospecto: params[:prospecto]), class: 'btn btn-primary btn-sm', id: 'color-blanco' %></div>
          <% end %>
        <% end %>
        <div class="col-md-10"><%= will_paginate @cartas, renderer: BootstrapPagination::Rails, :previous_label => "<<", :next_label => ">>" %></div>
    </div>


<% else %>


<% unless params[:prospecto].blank? %>
  <%= ProspectoDetail params[:prospecto] %>
<% end %>
<b>Cronologia Note Telefoniche</b>
<div class="table-responsive">
<table class="table table-hover">
  <thead>
    <tr>
      <td>Utente</td>
      <% if params[:prospecto].blank? %><td>Prospetto</td> <% end %>
      <td>Data</td>
      <td>Descrizione</td>
      <td>Data Promemoria</td>
      <td></td>
      <% if params[:permiso_edit] %><th></th><% end %>
      <% if params[:permiso_delete] %><th></th><% end %>
    </tr>
  </thead>

  <tbody>
    <% @notas_telefonicas.each do |nota_telefonicas| %>
      <tr>
        <td><%= nota_telefonicas.usuario.nombre_completo %></td>
        <% if params[:prospecto].blank? %><td><%= nota_telefonicas.prospecto.apellido_nombre %></td><% end %>
        <td><%= nota_telefonicas.fecha %></td>
        <td><%= nota_telefonicas.nota_descripcion %></td>
        <td><% if nota_telefonicas.recordatorio %><%= nota_telefonicas.fecha_recordatorio %><% else %><span class='glyphicon glyphicon-remove-sign'></span><% end %></td>
        <% if params[:prospecto].blank? %>
        <td><%= link_to content_tag(:span, '', class: 'glyphicon glyphicon-folder-open'), nota_telefonicas, title: 'Mostrare', id: "acciones" %></td>
        <% if params[:permiso_edit] %><td><%= link_to content_tag(:span, '', class: 'glyphicon glyphicon-edit'), edit_nota_telefonicas_path(nota_telefonicas), title: 'Modifica', id: "acciones" %></td><% end %>
        <% if params[:permiso_delete] %><td><%= link_to content_tag(:span, '', class: 'glyphicon glyphicon-remove'), nota_telefonicas, title: 'Eliminare', id: "acciones", method: :delete, data: { confirm: 'Sei sicuro?' } %></td><% end %>
        <% else %>
        <td><%= link_to content_tag(:span, '', class: 'glyphicon glyphicon-folder-open'), nota_telefonicas_path(nota_telefonicas, prospecto: params[:prospecto]), title: 'Mostrare', id: "acciones" %></td>
        <% if params[:permiso_edit] %><td><%= link_to content_tag(:span, '', class: 'glyphicon glyphicon-edit'), edit_nota_telefonicas_path(nota_telefonicas, prospecto: params[:prospecto]), title: 'Modifica', id: "acciones" %></td><% end %>
        <% if params[:permiso_delete] %><td><%= link_to content_tag(:span, '', class: 'glyphicon glyphicon-remove'), nota_telefonicas_path(nota_telefonicas, prospecto: params[:prospecto]), title: 'Eliminare', id: "acciones", method: :delete, data: { confirm: 'Sei sicuro?' } %></td><% end %>
        <% end %>
      </tr>
    <% end %>
  </tbody>

  <tfoot>
    <tr>
      <td>Totale Note Telefoniche: <b><%= @cantidad %></b></td>
    </tr>
  </tfoot>

</table>
</div>
<br>
  <div class="row">

    <% if params[:permiso_new] %>
      <% if params[:prospecto].blank? %>
      <div class="col-md-2"><%= link_to 'Nuova Nota Telefonica', new_nota_telefonicas_path, class: 'btn btn-primary btn-sm', id: 'color-blanco' %></div>
      <% else %>
      <div class="col-md-2"><%= link_to 'Nuova Nota Telefonica', new_nota_telefonicas_path(prospecto: params[:prospecto]), class: 'btn btn-primary btn-sm', id: 'color-blanco' %></div>
      <% end %>
    <% end %>
    <div class="col-md-2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= link_to content_tag(:span, ' Stampa', class: 'glyphicon glyphicon-print'), prospectos_path(:format => "pdf"), class: 'btn btn-default btn-sm' %></div>
    <div class="col-md-8"><%= will_paginate @notas_telefonicas, renderer: BootstrapPagination::Rails, :previous_label => "<<", :next_label => ">>" %></div>
  </div>

<% end %>
