<script>
$("#ntlf").addClass("start active");
</script>
<div class="panel-heading" id="panel-heading-sep">
	<% if params[:prospecto].blank? %>
	<%= link_to content_tag(:span, '', class: 'glyphicon glyphicon-chevron-left'), notas_telefonicas_path, class: "lnk_back",title: 'Ritorno' %> &nbsp;&nbsp;
	<% else %>
	<%= link_to content_tag(:span, '', class: 'glyphicon glyphicon-chevron-left'), notas_telefonicas_path(prospecto: params[:prospecto]), class: "lnk_back",title: 'Ritorno' %> &nbsp;&nbsp;
	<% end %>
	<b>Nuovo Nota Telefonica</b>
</div>
<div class="table-responsive">
<%= render 'form' %>
</div>
