<script>
$("#ntlf").addClass("start active");
</script>
<div class="panel-heading">
  <% if params[:prospecto].blank?%>
    <% if !params[:cal].blank?%>
      <%= link_to content_tag(:span, '', class: 'glyphicon glyphicon-chevron-left'), calendario_index_path, class: "lnk_back",title: 'Ritorno' %> &nbsp;&nbsp;
    <% else %>
      <%= link_to content_tag(:span, '', class: 'glyphicon glyphicon-chevron-left'), notas_telefonicas_path, class: "lnk_back",title: 'Ritorno' %> &nbsp;&nbsp;
    <% end %>
  <% else %>
    <% if !params[:cal].blank?%>
      <%= link_to content_tag(:span, '', class: 'glyphicon glyphicon-chevron-left'), calendario_index_path, class: "lnk_back",title: 'Ritorno' %> &nbsp;&nbsp;
    <% else %>
      <%= link_to content_tag(:span, '', class: 'glyphicon glyphicon-chevron-left'), notas_telefonicas_path(prospecto: params[:prospecto]), class: "lnk_back",title: 'Ritorno' %> &nbsp;&nbsp;
    <% end %>
  <% end %>
  Nota Telefonica dettagli
</div>
<div class="table-responsive">
<%= ProspectoDetail @nota_telefonicas.prospecto.id %>
<p>
  <strong>Utente:</strong>
  <%= @nota_telefonicas.usuario.nombre_completo %>
</p>
<p>
  <strong>Data:</strong>
  <%= @nota_telefonicas.fecha %>
</p>

<p>
  <strong>Descrizione:</strong>
  <%= @nota_telefonicas.nota_descripcion %>
</p>
<% if @nota_telefonicas.recordatorio %>
<p>
  <strong>Data Promemoria:</strong>
  <%= @nota_telefonicas.fecha_recordatorio %>
</p>
<% end %>

<% if params[:prospecto].blank?%>
  <% if params[:permiso_edit] %><%= link_to 'Modifica', edit_nota_telefonicas_path(@nota_telefonicas), class: "btn btn-primary", id: "color-blanco" %><%end%>
<% else %>
  <% if params[:permiso_edit] %><%= link_to 'Modifica', edit_nota_telefonicas_path(@nota_telefonicas, prospecto: params[:prospecto]), class: "btn btn-primary", id: "color-blanco" %><% end %>
<% end %>
</div>
